{{ define "content" }}

<!-- What is this author's name ? -->
{{- $thisauthor := .Params.author -}}

<!-- Get the details from the authors csv -->
{{- $url := "/csv/authors.csv" -}}
{{- $sep := "," -}}
{{- range $i, $r := getCSV $sep $url -}}
    {{- $author := index $r 8 -}}
    {{- if eq $author $thisauthor -}}
        {{- $.Scratch.Set "profession" (index $r 9) -}}
        {{- $.Scratch.Set "nationality" (index $r 10) -}}
        {{- $.Scratch.Set "dob" (index $r 11) -}}
        {{- $.Scratch.Set "dod" (index $r 12) -}}
        {{- $.Scratch.Set "briefbio" (index $r 13) -}}
        {{- $.Scratch.Set "fullbio" (index $r 17) -}}
    {{- end -}}
{{- end -}}

{{- if isset .Params "background" -}}
<!-- <img src="{{ .Params.background }}" style="position: fixed; right: 0; top: 0; width: 100%; height: auto; z-index: -1; opacity: 0.6;" /> -->
{{- end -}}

<div class="section bb no-pad-top">
    <div class="container">
        <div class="row">
            <div class="col s12 m9 l9">
                <h2 class="c-quotes-200 linetoend">{{ .Title }}</h2>
                <div class="grid">

                    <div class="gutter-sizer"></div>
                    <div class="grid-sizer"></div>

                    {{ $.Scratch.Set "image" .Params.image }}
                    
                    {{- $url := "/csv/quotes.csv" -}}
                    {{- $sep := "," -}}
                    
                    {{- $.Scratch.Delete "quoteid" -}}
                    {{- $.Scratch.Set "quoteid" 1 -}}
                    
                    {{- range $i, $r := getCSV $sep $url -}}
                        
                        {{- $author := index $r 3 -}}
                        {{- if eq $author $thisauthor -}}

                            {{- $tags := index $r 9 -}}
                            {{- $quote := index $r 8 -}}
                            <div class="gi s12 m6 l4">

                                {{- if and (eq (mod ($.Scratch.Get "quoteid") 1) 0) (lt ($quote | countwords) 14) -}}
                                    <div class="card quote fluid overlay font-8 z-depth-3">
                                        <div class="img-container" id="img_container_{{ $.Scratch.Get "quoteid" }}">
                                            {{- if eq $tags "NULL" -}}
                                            <img src="https://source.unsplash.com/600x200/?inspiration,motivation" />
                                            {{- else -}}
                                            <img src="https://source.unsplash.com/600x200/?{{ $tags }}" />
                                            {{- end -}}
                                            <div class="img-overlay bg-quotes-gradient"></div>
                                        </div>
                                        <div class="content">
                                            <figure>
                                                <blockquote>{{ $quote }}</blockquote>
                                                <figcaption>{{ $author }}</figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                {{- else -}}
                                    {{- if lt ($quote | countwords) 10 -}}
                                    <div class="card quote fluid font-8 bg-quotes-400 z-depth-3">
                                        {{- else if lt ($quote | countwords) 15 -}}
                                        <div class="card quote fluid font-6 bg-articles-400 z-depth-3">
                                        {{- else if lt ($quote | countwords) 20 -}}
                                        <div class="card quote fluid font-6 bg-dark-to-right z-depth-3">
                                        {{- else if lt ($quote | countwords) 25 -}}
                                        <div class="card quote fluid font-6 bg-quotes-gradient z-depth-3">
                                        {{- else if lt ($quote | countwords) 30 -}}
                                        <div class="card quote fluid font-4 bg-news-400 z-depth-3">
                                        {{- else if lt ($quote | countwords) 40 -}}
                                        <div class="card quote fluid font-3 bg-videos-400 z-depth-3">
                                        {{- else -}}
                                        <div class="card quote fluid font-2 bg-quotes-gradient z-depth-3">
                                            {{- end -}}
                                            <figure>
                                                <blockquote>{{ $quote }}</blockquote>
                                                <figcaption>{{ $author }}</figcaption>
                                            </figure>
                                        </div>                                
                                {{- end -}}
                            
                            </div>  

                        {{- end -}}

                        {{- $.Scratch.Set "quoteid" (add ($.Scratch.Get "quoteid") 1) -}}

                    {{- end -}}

                </div>
                
            </div>

            <div class="col s12 m3 l3">
                
                <div class="card fluid">
                    <h2 class="c-quotes-200 linetoend">Profile</h2>
                    <div class="c-gradient1">
                        <h4>{{ $thisauthor }}</h4>
                        <!-- <h3 class="quotes-gradient-text">Nationality</h3> -->
                        <h4>{{ $.Scratch.Get "nationality" }}</h4>
                        <!-- <h3 class="quotes-gradient-text">Profession</h3> -->
                        <h4>{{ $.Scratch.Get "profession" }}</h4>
                        <!-- <h3 class="quotes-gradient-text">Date of Birth</h3> -->
                        <h4>Born {{ $.Scratch.Get "dob" }}</h4>
                        <!-- <h3 class="quotes-gradient-text">Full Bio</h3> -->
                        <h4><a class="c-gra1dient display-inl1ine-block" target="_blank" href="{{ $.Scratch.Get "fullbio" }}">Full Bio (Wikipedia) ></a></h4>
                    </div>
                </div>
                
                <h2 class="c-quotes-200 linetoend">More Authors</h2>
                {{- $.Scratch.Set "g-card-counter" 0 -}}
                {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
                {{- if .IsDescendant ($.Site.GetPage "/quotes/authors") -}}
                {{- if and (ne .Title "Quotes By Author") (ne .Params.author $thisauthor) -}}
                {{- if lt ($.Scratch.Get "g-card-counter") 4 -}}
                <div class="card font-3 wide h2 bg-quotes-400 z-depth-5">
                    {{- partial "card-author.html" . -}}
                </div>
                {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}

                <div class="row"></div>
                <h2 class="c-quotes-100 linetoend">Topics</h2>
                {{- $.Scratch.Set "g-card-counter" 0 -}}
                {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
                {{- if .IsDescendant ($.Site.GetPage "/quotes/topics") -}}
                {{- if and (ne .Title "Quotes By Topic") (ne .Title ($.Scratch.Get "thistitle")) -}}
                {{- if lt ($.Scratch.Get "g-card-counter") 5 -}}
                <div class="card font-3 wide h2 bg-quotes-400 z-depth-5 font-medium">
                    {{- partial "card-topic.html" . -}}
                </div>
                {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}
                
            </div>

        </div>
    </div>
</div>

{{ end }}