{{ define "content" }}
<!-- QUOTES HOME -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 l8">
                <h2><a href="authors">Authors ></a></h2>
                <div class="card-grid">
                {{- $.Scratch.Set "g-card-counter" 0 -}}
                {{- range (where .Site.Pages "Type" "quotes") -}}
                {{- if lt ($.Scratch.Get "g-card-counter") 8 -}}
                {{- if isset .Params "author" -}}
                <div class="card h5 s6 m4 l4">
                    {{- partial "card-quotes-by-author.html" . -}}
                </div>
                {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}
                </div>

            </div>
            <div class="col s12 l4">
                <h2><a href="topics">Topics ></a></h2>
                <div class="card-grid">
                {{- $.Scratch.Set "g-card-counter" 0 -}}
                {{- range (where .Site.Pages "Type" "quotes") -}}
                {{- if lt ($.Scratch.Get "g-card-counter") 16 -}}
                {{- if isset .Params "topic" -}}
                <div class="card wide h2 s12">
                    {{- partial "card-quotes-by-topic.html" . -}}
                </div>
                {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}