{{ define "content" }}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-grid">
                    {{- range .Pages -}}
                    {{- if isset .Params "author" -}}
                    <div class="card h5 s6 m6 l3">
                    {{- partial "card-quotes-by-author.html" . -}}
                    </div>
                    {{- else -}}
                    <div class="card h5 s6 m6 l3">
                    {{- partial "card-quotes-by-topic.html" . -}}
                    </div>
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}