/************************************************************************
-- GETINSPIRED365
************************************************************************/
:root {
    --news-color-100: #1dbaf8;
    --news-color-200: #1585B1;
    --news-color-300: #0E5B79;
    --news-color-400: #03141b;
    --news-color-500: #020F14;
    --articles-color-100: #165BCC;
    --articles-color-200: #124AA6;
    --articles-color-300: #0D3577;
    --articles-color-400: #030c1b;
    --articles-color-500: #02070e;
    --quotes-color-100: #8B639C;
    --quotes-color-200: #6B4D78;
    --quotes-color-300: #45324E;
    --quotes-color-400: #0f0b10;
    --quotes-color-500: #0D090F;
    --videos-color-100: #CE1A58;
    --videos-color-200: #9E1645;
    --videos-color-300: #701031;
    --videos-color-400: #1f040c;
    --videos-color-500: #0d0105;
    --tags-color: #161616;
    --gutter-width: 1.5rem; 
    --border-radius: 0.25em;
    --card-unit-height: 40px;
}

* {
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/************************************************************************
-- BODY
************************************************************************/
body {
    /* background: #100e17;  */
    background: #060606;
    /* background: -webkit-linear-gradient(to bottom, var(--news-color-400), var(--videos-color-400));
    background: linear-gradient(to bottom, var(--news-color-400), var(--videos-color-400));  */
    /* background: #090909; */
    color: #aaa;
    font-family: 'Raleway';
    /* letter-spacing: -1px; */
    margin: 0;
    padding: 0;
}

/************************************************************************
-- UTILITY CLASSES
************************************************************************/
.display-inline-block {
    display: inline-block;
}
.no-pad {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.font-large {
    font-size: 1.1em;
}
.font-medium {
    font-size: 0.9em;
}
.font-small {
    font-size: 0.75em;
}
.font-tiny {
    font-size: 0.65em;
}
.rtl {
    transform: rotate(1deg);
}
.rtr {
    transform: rotate(-1deg);
}
.well1 {
    padding: var(--gutter-width);
}

/************************************************************************
-- LISTS
************************************************************************/
ul {
    list-style-type: none;
}

ul li {
    float: left;
    margin-right: 1em;
}

ul li a:hover {
    color: #fff;
}

/************************************************************************
-- HYPERLINKS
************************************************************************/
a, a.btn {
    color: #aaa !important;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, a.btn:hover {
    color: #eee !important;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

a:visited {
    color: #aaa;
}

/************************************************************************
-- TYPOGRAPHY
************************************************************************/
h1 {
    font-weight: 900;
}

h2 {
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: -1px;
}

h6 {
    font-weight: 900 !important;
}

p {
    letter-spacing: 0;
    line-height: 1.4;
}

/************************************************************************
-- FIGURE ARTICLE
************************************************************************/
figure.article {
    margin: 2em 0 2em 0;
}

figure.article img {
    border-radius: 0.25em;
    float: left;
    height: auto;
    padding: 0 0 0.5em 0;
    width: 100% !important;
}

figure.article figcaption p {
    float: left;
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 2em;
    padding: 0 0 2em 0;
    width: 100%;
}

/************************************************************************
-- FIGURE WRITER
************************************************************************/
figure.writer {
    float: left;
    margin: 1em 0 3em 0;
    width: 100%;
}

figure.writer img {
    border-radius: 50%;
    float: left;
    height: 48px;
    margin: 0 1em 0 0;
    width: 48px;
}

figure.writer figcaption a {
    font-weight: bold;
    padding-top: 1em;
}

figure.writer figcaption .date {
    margin: 0.25em;
    padding: 0;
}

figure.writer figcaption .readingtime {
    margin: 0;
    padding: 0;
}

/************************************************************************
-- FIGURE WITHIN A GRID
************************************************************************/
.gi figure {
    background: #090909;
    border-radius: 0.25em;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0.5em var(--gutter-width) 0;
    min-height: 200px;
    height: 100%;
    opacity: 0.9;
    padding: 1em;
    position: relative;
    transition: transform 0.4s ease-in;
    vertical-align: top;
    width: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
}

.gi figure:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease-out;
    z-index: 99 !important;
}

.gi figure blockquote {
    color: #eee;
    letter-spacing: 0px;
    margin-top: -0.2em;
    text-align: center;
}

.gi figure blockquote::before {
     color: var(--quotes-color-100);
     font-family: FontAwesome;
     font-weight: 900;
     content: "\f10d";
     float: left;
     margin-bottom: 1em;
     margin-top: 1em;
     padding-right: 0.5em;
     text-align: center;
     width: 100%;
}

.gi figure figcaption {
    color: var(--quotes-color-200);
    display: block;
    font-size: 0.8em;
    font-style: normal;
    margin-bottom: 1em;
    margin-top: 3.5em;
    position: relative;
    text-align: center;
    width: 100%;
}

.gi figure figcaption::before {
    background: var(--quotes-color-300);
    border-right: 1px #aaa;
    content: '';
    display: block;
    height: 3px;
    left: calc(50% - 10px);
    position: absolute;
    text-align: center;
    top: -20px;
    width: 20px;
}

.gi figure img {
    display: none;
}

/* .gi:nth-child(3n) figure {
    background: repeating-linear-gradient(-55deg,
    var(--quotes-color-400),
    var(--quotes-color-400) 1px,
    var(--quotes-color-300) 2px,
    var(--quotes-color-500) 4px);
}

.gi:nth-child(4n) figure {
    background: var(--quotes-color-400);
}

.gi:nth-child(5n) figure {
    background: var(--quotes-color-500);
}

.gi:nth-child(5n) figure blockquote {
    text-align: left;
}

.gi:nth-child(5n) figure blockquote::before {
    color: var(--quotes-color-100);
    font-size: 1.4em;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    text-align: left;
    z-index: 1;
}

.gi:nth-child(5n) figure figcaption {
    color: var(--quotes-color-300);
    margin: 1.5em 0 1em 3em;
    text-align: left;
}

.gi:nth-child(5n) figure figcaption::before {
    display: none;
}

.gi:nth-child(5n) figure {
    /* font-famsily: 'Montserrat'; */
    text-align: left;
    z-index: 10;
}

.gi:nth-child(6n) figure {
    /* font-famsily: 'Montserrat'; */
    font-size: 1.4em;
}

.gi:nth-child(7n) figure {
    letter-spacing: -1px;
    text-transform: uppercase;
}

.gi:nth-child(8n) figure {
    background: none;
    border-radius: 0;
}

.gi:nth-child(9n) figure img {
    border-radius: 50%;
    display: block;
    height: 48px;
    right: 16px;
    position: absolute;
    bottom: 16px;
    width: 48px;
}

.gi:nth-child(10n) blockquote {
    background: -webkit-linear-gradient(to right, var(--news-color-100), var(--videos-color-100)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color-100), var(--videos-color-100)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

/************************************************************************
-- BACKGROUNDS
************************************************************************/
.bg-black {
    background: #000 !important;
}

.bg-angled-gradient {
    background: repeating-linear-gradient(-55deg,
    var(--quotes-color-400),
    var(--news-color-400) 10px,
    var(--articles-color-300) 1px,
    var(--videos-color-300) 2px);
}

.bg-angled-dark {
    background: repeating-linear-gradient(-55deg,
    #060606,
    #060606 10px,
    #090909 10px,
    #090909 20px);
}

.bg-angled-quotes {
    background: repeating-linear-gradient(-55deg,
    var(--quotes-color-500),
    var(--quotes-color-400) 10px,
    var(--quotes-color-400) 10px,
    var(--quotes-color-400) 10px) !important;
}

.bg-angled-videos {
    background: repeating-linear-gradient(-55deg,
    var(--videos-color-100),
    var(--videos-color-100) 1px,
    var(--videos-color-300) 1px,
    var(--videos-color-300) 5px);
}

.bg-gradient {
    background: #aaa !important;
    background: -webkit-linear-gradient(to bottom, var(--news-color-400), var(--videos-color-500)) !important;
    background: linear-gradient(to bottom, var(--news-color-400), var(--videos-color-500)) !important;
}

.bg-homepage {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #030303, #161616); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #030303, #161616); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-news-100 {
    background: var(--news-color-100) !important;
}
.bg-news-200 {
    background: var(--news-color-200) !important;
}
.bg-news-300 {
    background: var(--news-color-300) !important;
}
.bg-news-400 {
    background: var(--news-color-400) !important;
}
.bg-news-500 {
    background: var(--news-color-500) !important;
}
.bg-news-gradient {
    background: var(--news-color-300) !important;
    background: -webkit-linear-gradient(to bottom, var(--news-color-400), var(--news-color-500)) !important;
    background: linear-gradient(to bottom, var(--news-color-400), var(--news-color-500)) !important;
}

.bg-articles-100 {
    background: var(--articles-color-100) !important;
}
.bg-articles-200 {
    background: var(--articles-color-200) !important;
}
.bg-articles-300 {
    background: var(--articles-color-300) !important;
}
.bg-articles-400 {
    background: var(--articles-color-400) !important;
}
.bg-articles-500 {
    background: var(--articles-color-500) !important;
}
.bg-articles-gradient {
    background: var(--articles-color-300) !important;
    background: -webkit-linear-gradient(to bottom, var(--articles-color-400), var(--articles-color-500)) !important;
    background: linear-gradient(to bottom, var(--articles-color-400), var(--articles-color-500)) !important;
}

.bg-quotes-100 {
    background: var(--quotes-color-100) !important;
}
.bg-quotes-200 {
    background: var(--quotes-color-200) !important;
}
.bg-quotes-300 {
    background: var(--quotes-color-300) !important;
}
.bg-quotes-400 {
    background: var(--quotes-color-400) !important;
}
.bg-quotes-500 {
    background: var(--quotes-color-500) !important;
}
.bg-quotes-gradient {
    background: var(--quotes-color-300) !important;
    background: -webkit-linear-gradient(to bottom, var(--quotes-color-400), var(--quotes-color-500)) !important;
    background: linear-gradient(to bottom, var(--quotes-color-400), var(--quotes-color-500)) !important;
}

.bg-videos-100 {
    background: var(--videos-color-100) !important;
}
.bg-videos-200 {
    background: var(--videos-color-200) !important;
}
.bg-videos-300 {
    background: var(--videos-color-300) !important;
}
.bg-videos-400 {
    background: var(--videos-color-400) !important;
}
.bg-videos-500 {
    background: var(--videos-color-500) !important;
}
.bg-videos-gradient {
    background: var(--videos-color-300) !important;
    background: -webkit-linear-gradient(to bottom, var(--videos-color-400), var(--videos-color-500)) !important;
    background: linear-gradient(to bottom, var(--videos-color-400), var(--videos-color-500)) !important;
}

/************************************************************************
-- COLORS
************************************************************************/
.c-gradient {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--news-color-100), var(--videos-color-100)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color-100), var(--videos-color-100)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-news-100 {
    color: var(--news-color-100) !important;
}
.c-news-200 {
    color: var(--news-color-200) !important;
}
.c-news-300 {
    color: var(--news-color-300) !important;
}
.c-news-400 {
    color: var(--news-color-400) !important;
}
.c-news-500 {
    color: var(--news-color-500) !important;
}
.c-news-gradient {
    background: var(--news-color-100); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--news-color-100), var(--news-color-200)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color-100), var(--news-color-200)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-articles-100 {
    color: var(--articles-color-100) !important;
}
.c-articles-200 {
    color: var(--articles-color-200) !important;
}
.c-articles-300 {
    color: var(--articles-color-300) !important;
}
.c-articles-400 {
    color: var(--articles-color-400) !important;
}
.c-articles-500 {
    color: var(--articles-color-500) !important;
}
.c-articles-gradient {
    background: var(--articles-color); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--articles-color-100), var(--articles-color-200)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--articles-color-100), var(--articles-color-200)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-quotes-100 {
    color: var(--quotes-color-100) !important;
}
.c-quotes-200 {
    color: var(--quotes-color-200) !important;
}
.c-quotes-300 {
    color: var(--quotes-color-300) !important;
}
.c-quotes-400 {
    color: var(--quotes-color-400) !important;
}
.c-quotes-500 {
    color: var(--quotes-color-500) !important;
}
.c-quotes-gradient {
    background: var(--quotes-color-100); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--quotes-color-100), var(--quotes-color-200)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--quotes-color-100), var(--quotes-color-200)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-videos-100 {
    color: var(--videos-color-100) !important;
}
.c-videos-200 {
    color: var(--videos-color-200) !important;
}
.c-videos-300 {
    color: var(--videos-color-300) !important;
}
.c-videos-400 {
    color: var(--videos-color-400) !important;
}
.c-videos-500 {
    color: var(--videos-color-500) !important;
}
.c-videos-gradient {
    background: var(--videos-color-100); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--videos-color-100), var(--videos-color-200)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--videos-color-100), var(--videos-color-200)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/************************************************************************
-- BORDERS
************************************************************************/
.b {
    border: 1px solid #101010;
}
.bb {
    border-bottom: 1px solid #101010;
}
.bt {
    border-top: 1px solid #101010;
}
.bw2 {
    border-width: 2px !important;
}
.bw3 {
    border-width: 3px !important;
}
.bw4 {
    border-width: 4px !important;
}
.bw5 {
    border-width: 5px !important;
}
.bw10 {
    border-width: 10px !important;
}
.br {
    border-radius: 0.25em;
}
.br2 {
    border-radius: 0.5em;
}

.b-videos-gradient {
    border: 1px solid var(--videos-color-300);
    border-image: linear-gradient(to right, var(--videos-color-200) 0%, var(--videos-color-500) 100%);
    border-image-slice: 1;
    border-width: 1px;

}

.bb-videos-gradient {
    border-bottom: 1px solid var(--videos-color-300);
    border-image: linear-gradient(to right, var(--videos-color-100) 0%, var(--videos-color-400) 100%);
    border-image-slice: 1;
    border-width: 1px;

}

.bt-videos-gradient {
    border-top: 1px solid var(--videos-color-300);
    border-image: linear-gradient(to right, var(--videos-color-100) 0%, var(--videos-color-400) 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.b-gradient {
    border: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.bt-gradient {
    border-top: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.br-gradient {
    border-right: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.bb-gradient {
    border-bottom: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.bl-gradient {
    border-left: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 1px;
}


/************************************************************************
-- BUTTONS
************************************************************************/
a.btn {
    background: #060606;
    border: 1px solid #161616;
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 1px;
    float: left;
    font-weight: 700;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    text-transform: capitalize;
}

a.btn.video {
    background: var(--videos-color-300);
    border: none;
    border-image: none;
    /* border-color: var(--videos-color-100); */
    border-radius: 0.2em;
}

a.btn.video:hover {
    background: var(--videos-color-200);
}

/************************************************************************
-- SITE NAVIGATION
************************************************************************/
nav ul.site-nav {
    float: left;
    margin: 0 0 0 0;
    padding: 0.25em 0 0 0;
    position: relative;
}

nav ul.site-nav li {
    border-bottom: 3px solid transparent;
    float: left;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 0px;
    padding: 1em 0 1em 0;
    margin-right: 1.75em;
    position: relative;
    transition: border 0.4s ease-out;
}

nav ul.site-nav li a {
    padding: 1em 0 1em 0;
    text-transform: uppercase;
}

nav ul.site-nav li:first-child {
    display: none;
}

nav ul.site-nav li:nth-child(1) {
    font-size: 0.8em;
    font-weight: 900;
}

nav ul.site-nav li:nth-child(6):hover {
    border-bottom: 1px solid var(--news-color-100);
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 3px;
}

nav ul.site-nav li.news:hover {
    border-bottom: 3px solid var(--news-color-100);
    border-image: none;
}

nav ul.site-nav li.articles:hover {
    border-bottom: 3px solid var(--articles-color-100);
    border-image: none;
}

nav ul.site-nav li.quotes:hover {
    border-bottom: 3px solid var(--quotes-color-100);
    border-image: none;
}

nav ul.site-nav li.videos:hover {
    border-bottom: 3px solid var(--videos-color-100);
    border-image: none;
}

nav ul.contact {
    float: right;
    margin: 0;
    padding: 0;
}

nav ul.contact li {
    float: right;
    font-size: 0.9em;
    margin-left: 1em;
    margin-right: 0;
    padding: 1em 0;
}

@media only screen and (max-width: 992px) {
    .nav-contact { display: none; }
    nav ul.site-nav { display: none ;}
    nav ul.site-nav { width: 100%; }
    nav ul.site-nav li { margin-right: 0; width: 100%; text-align: center; }
    nav ul.site-nav li:first-child { display: block; }
    nav ul.site-nav li:nth-child(2) { display: none; }
}

/************************************************************************
-- HEADER TEXT AND RIGHT CONTENT
************************************************************************/
header {
    height: 60px;
    z-index: 1;
}

header .logo {
    float: left;
    margin-top: 0;
    position: relative;
}

header .logo h3 {
    float: left;
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-right: 1em;
    position: relative;
}

header .logo h3 a {
    color: #aaa;
}

header .logo h3:hover {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #05759e, #d11b5a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #05759e, #d11b5a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .logo h3.date {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #aaa, #fff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aaa, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clear: both;
    float: left;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0 0.5em 0 0;
    position: relative;
}

a.burger i {
    font-size: 2em;
}

/************************************************************************
-- SECTION NAVIGATION
************************************************************************/
ul.section-nav {
    float: left;
    margin: 0;
    padding: 0;
    z-index: 1;
}

ul.section-nav li {
    border-bottom: 3px solid transparent;
    /* border-right: 40px solid #212121; */
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 0.75em 1em 0.4em 1em;
    width: auto;
}

ul.section-nav li a {
    padding: 0 0 0.5em 0;
}

ul.section-nav.news li.selected a {
    color: var(--news-color-100) !important;
}

ul.section-nav.articles li.selected a {
    color: var(--articles-color-100) !important;
}

ul.section-nav.quotes li.selected a {
    color: var(--quotes-color-100) !important;
}

ul.section-nav.videos li.selected a {
    color: var(--videos-color-100) !important;
}

ul.section-nav li:first-child {
    padding-left: 0;
}

ul.section-nav li a:last-child {
    border: none;
}

ul.section-nav li a:hover {
    border-bottom: 3px solid #fff;
}

ul.section-nav.news a:hover {
    border-color: var(--news-color-100);
}

ul.section-nav.articles a:hover {
    border-color: var(--articles-color-100);
}

ul.section-nav.quotes a:hover {
    border-color: var(--quotes-color-100);
}

ul.section-nav.videos a:hover {
    border-color: var(--videos-color-100);
}

ul.section-nav.tags a:hover {
    border-bottom: 1px solid var(--news-color-100);
    border-image: linear-gradient(to right, var(--news-color-100) 0%, var(--videos-color-100) 100%);
    border-image-slice: 1;
    border-width: 3px;
}

/************************************************************************
-- SECTION NAVIGATION
************************************************************************/
.section-page-nav {
    height: 300px;
    position: fixed;
    top: calc(50% - 0.7em);
    width: 100px;
    z-index: 100;
}
.section-page-nav.prev {
    left: 1em;
}
.section-page-nav.next {
    right: 1em;
    text-align: right;
}

.section-page-nav .navigate {
    font-size: 1.4em;
    opacity: 0.2;
}

.section-page-nav:hover a.navigate {
    opacity: 1;
    transform: scale(1.2);
}
.section-page-nav .details {
    opacity: 0;
    position: fixed;
    top: calc(50% - 50px);
    transition: all 0.3s ease-in-out;
    width: 150px;
}

.section-page-nav.prev .details {
    left: -200px;
}

.section-page-nav.next .details {
    right: -200px;
}

.section-page-nav:hover .details {
    opacity: 1;
}

.section-page-nav.prev:hover .details {
    transform: translateX(180px);
}

.section-page-nav.next:hover .details {
    transform: translateX(-180px);
}

.section-page-nav .details img {
    border-radius: 0.25em;
    display: block;
    float: left;
    height: 100px;
    width: auto;
}

.section-page-nav .details a.title {
    background: #000;
    bottom: 20px;
    font-size: 0.7em;
    font-weight: bold;
    margin-top: -2em !important;
    opacity: 0.8;
    padding: 0.1em 0.3em;
    position: absolute;
    text-align: left;
    width: 70%;
}

.section-page-nav.prev .details a.title {
    right: 20px;
}

.section-page-nav.next .details a.title {
    left: 0;
}


/************************************************************************
-- GRID FOR MASONRY LAYOUT
************************************************************************/
/* .grid { width: 100%; } */
.gutter-sizer { width: var(--gutter-width); }

.grid-sizer, .gi { 
    float: left;
    margin-bottom: calc( var(--gutter-width) * -1);
    width: calc(8.3333333333% - var(--gutter-width) / 1.09);             
    /* margin: 0 0.37rem 0 0; */
}

.gi.s1 {width: calc(8.3333333333% - var(--gutter-width) / 1.09); }
.gi.s2 { width: calc(16.6666666667% - var(--gutter-width) / 1.3); }
.gi.s3 { width: calc(25% - var(--gutter-width) / 1.3); }
.gi.s4 { width: calc(33.3333333333% - var(--gutter-width) / 1.5); }
.gi.s5 { width: calc(41.6666666667% - var(--gutter-width) / 1.5); }
.gi.s6 { width: calc(50% - var(--gutter-width) / 2); }
.gi.s7 { width: calc(58.3333333333% - var(--gutter-width) / 2.3); }
.gi.s8 { width: calc(66.6666666667% - var(--gutter-width) / 3); }
.gi.s9 { width: calc(75% - var(--gutter-width) / 3.2); }
.gi.s10 { width: calc(83.3333333333% - var(--gutter-width) / 4.2); }
.gi.s11 { width: calc(91.6666666667% - (var(--gutter-width) / 5)); }
.gi.s12 { width: calc(100%); }

@media only screen and (min-width: 601px) {
    .gi.m1 {width: calc(8.3333333333% - var(--gutter-width) / 1.09); }
    .gi.m2 { width: calc(16.6666666667% - var(--gutter-width) / 1.3); }
    .gi.m3 { width: calc(25% - var(--gutter-width) / 1.3); }
    .gi.m4 { width: calc(33.3333333333% - var(--gutter-width) / 1.5); }
    .gi.m5 { width: calc(41.6666666667% - var(--gutter-width) / 1.5); }
    .gi.m6 { width: calc(50% - var(--gutter-width) / 2); }
    .gi.m7 { width: calc(58.3333333333% - var(--gutter-width) / 2.3); }
    .gi.m8 { width: calc(66.6666666667% - var(--gutter-width) / 3); }
    .gi.m9 { width: calc(75% - var(--gutter-width) / 3.2); }
    .gi.m10 { width: calc(83.3333333333% - var(--gutter-width) / 4.2); }
    .gi.m11 { width: calc(91.6666666667% - (var(--gutter-width) / 5)); }
    .gi.m12 { width: calc(100% - var(--gutter-width) / 2.2); }
}

@media only screen and (min-width: 993px) {
    .gi.l1 {width: calc(8.3333333333% - var(--gutter-width) / 1.09); }
    .gi.l2 { width: calc(16.6666666667% - var(--gutter-width) / 1.3); }
    .gi.l3 { width: calc(25% - var(--gutter-width) / 1.3); }
    .gi.l4 { width: calc(33.3333333333% - var(--gutter-width) / 1.5); }
    .gi.l5 { width: calc(41.6666666667% - var(--gutter-width) / 1.5); }
    .gi.l6 { width: calc(50% - var(--gutter-width) / 2); }
    .gi.l7 { width: calc(58.3333333333% - var(--gutter-width) / 2.3); }
    .gi.l8 { width: calc(66.6666666667% - var(--gutter-width) / 3); }
    .gi.l9 { width: calc(75% - var(--gutter-width) / 3.2); }
    .gi.l10 { width: calc(83.3333333333% - var(--gutter-width) / 4.2); }
    .gi.l11 { width: calc(91.6666666667% - (var(--gutter-width) / 5)); }
    .gi.l12 { width: calc(100% - var(--gutter-width) / 2.2); }
}


/************************************************************************
-- CARDS
************************************************************************/
.card { 
    border-radius: var(--border-radius); 
    float: left; 
    margin: 0 0 calc(var(--gutter-width)) 0 !important; 
    overflow: hidden; 
    padding: 0; 
    position: relative; 
    width: 100%; 
}

.card-grid {
    margin-left: calc(var(--gutter-width) * -1);
}

.card-grid .card {
    margin-left: calc(var(--gutter-width)) !important;
}

.card.s1 { width: calc(8.3333333333% - var(--gutter-width)); }
.card.s2 { width: calc(16.6666666667% - var(--gutter-width)); }
.card.s3 { width: calc(25% - var(--gutter-width)); }
.card.s4 { width: calc(33.3333333333% - var(--gutter-width)); }
.card.s5 { width: calc(41.6666666667% - var(--gutter-width)); }
.card.s6 { width: calc(50% - var(--gutter-width)); }
.card.s7 { width: calc(58.3333333333% - var(--gutter-width)); }
.card.s8 { width: calc(66.6666666667% - var(--gutter-width)); }
.card.s9 { width: calc(75% - var(--gutter-width)); }
.card.s10 { width: calc(83.3333333333% - var(--gutter-width)); }
.card.s11 { width: calc(91.6666666667% - var(--gutter-width)); }
.card.s12 { width: calc(100% - var(--gutter-width)); }

@media only screen and (min-width: 601px) {
    .card.m1 { width: calc(8.3333333333% - var(--gutter-width)); }
    .card.m2 { width: calc(16.6666666667% - var(--gutter-width)); }
    .card.m3 { width: calc(25% - var(--gutter-width)); }
    .card.m4 { width: calc(33.3333333333% - var(--gutter-width)); }
    .card.m5 { width: calc(41.6666666667% - var(--gutter-width)); }
    .card.m6 { width: calc(50% - var(--gutter-width)); }
    .card.m7 { width: calc(58.3333333333% - var(--gutter-width)); }
    .card.m8 { width: calc(66.6666666667% - var(--gutter-width)); }
    .card.m9 { width: calc(75% - var(--gutter-width)); }
    .card.m10 { width: calc(83.3333333333% - var(--gutter-width)); }
    .card.m11 { width: calc(91.6666666667% - var(--gutter-width)); }
    .card.m12 { width: calc(100% - var(--gutter-width)); }
}

@media only screen and (min-width: 993px) {
    .card.l1 { width: calc(8.3333333333% - var(--gutter-width)); }
    .card.l2 { width: calc(16.6666666667% - var(--gutter-width)); }
    .card.l3 { width: calc(25% - var(--gutter-width)); }
    .card.l4 { width: calc(33.3333333333% - var(--gutter-width)); }
    .card.l5 { width: calc(41.6666666667% - var(--gutter-width)); }
    .card.l6 { width: calc(50% - var(--gutter-width)); }
    .card.l7 { width: calc(58.3333333333% - var(--gutter-width)); }
    .card.l8 { width: calc(66.6666666667% - var(--gutter-width)); }
    .card.l9 { width: calc(75% - var(--gutter-width)); }
    .card.l10 { width: calc(83.3333333333% - var(--gutter-width)); }
    .card.l11 { width: calc(91.6666666667% - var(--gutter-width)); }
    .card.l12 { width: calc(100% - var(--gutter-width)); }
}

.card.h1 { height: var(--card-unit-height); }
.card.h2 { height: calc( var(--card-unit-height) * 2 + (var(--gutter-width))); }
.card.h3 { height: calc( var(--card-unit-height) * 3 + (var(--gutter-width) * 2)); }
.card.h4 { height: calc( var(--card-unit-height) * 4 + (var(--gutter-width) * 3)); }
.card.h5 { height: calc( var(--card-unit-height) * 5 + (var(--gutter-width) * 4)); }
.card.h6 { height: calc( var(--card-unit-height) * 6 + (var(--gutter-width) * 5)); }
.card.h7 { height: calc( var(--card-unit-height) * 7 + (var(--gutter-width) * 6)); }
.card.h8 { height: calc( var(--card-unit-height) * 8 + (var(--gutter-width) * 7)); }

.card img { height: 50%; object-fit: cover; object-position: center; overflow: hidden; position: relative; transition: transform 0.3s ease-in-out; width: 100%; }
.card.img-25 img { height: 25%; }
.card.img-33 img { height: 33%; }
.card.img-50 img { height: 50%; }
.card.img-66 img { height: 66%; }
.card.img-75 img { height: 75%; }
.card.img-100 img { height: 100%; }
.card.img-full-border-radius img { border-radius: var(--border-radius); }
.card.wide img { height: 100%; width: 33%; float: left; }

.card .img-container { float: left; height: 50%; margin-bottom: 0.5em; overflow: hidden; position: relative; width: 100%; }
.card.img-25 .img-container { height: 25%; }
.card.img-33 .img-container { height: 33%; }
.card.img-50 .img-container { height: 50%; }
.card.img-66 .img-container { height: 66%; }
.card.img-75 .img-container { height: 75%; }
.card.img-100 .img-container { height: 100%; }
.card .img-container img { height: calc(100% + 60px); left: -60px; position: absolute; top: -30px; width: calc(100% + 120px); }
.card.wide .img-container { height: 100%; width: 33%; }
.card .img-container.tag img { opacity: 0.95; -webkit-filter: grayscale(50%); filter: grayscale(50%) }
.card:hover .img-container img { transform: scale(0.8); transform-origin: center; transition: transform 0.3s ease-out; opacity: 1; -webkit-filter: grayscale(0%); filter: grayscale(0%) }

.card .content {
    margin-bottom: var(--gutter-width);
    padding: 0.25em 0.5em;
    z-index: 1 !important;
}

.card .content.no-pad {
    padding: 0;
}

.card .content .caption {
    /* background: #000 !important;         */
    display: inline-block;
    font-size: 0.6em;
    margin: 0.25em 0;
    opacity: 1;
    padding: 0.1em 0.25em;
    text-transform: uppercase;
}

.card .content .title {
    margin: 0.25em 0 0.5em 0;
    padding: 0;
}

.card .content .title.no-pad {
    margin: 0;
}

.card.h1 .content p { display: none; }
.card.h1 .content .title { font-size: 0.9em; }
.card.h2 .content .title { font-size: 0.9em; }

.card.h3 .content .caption { display: none; }
.card.h3 .content .title { font-size: 1.1em; text-align: center; margin-top: 0.75em; }
.card.h3 .content .age { display: none;}
.card.h3 .content p { display: none; }

.card.h4 .content .title { font-size: 0.9em; }
.card.h4 .content .age { display: none;}
.card.h4 .content p { display: none; }

.card .content h3 a, .c .content h4 a, .c .content h5 a, .c .content h6 a {
    color: #ddd !important;
}

.card:hover .content h3 a, .c:hover .content h4 a, .c:hover .content h5 a  {
    color: #ccc !important;
}

.card .content p {
    font-size: 0.75em;
    font-weight: 400;
    opacity: 0.5;
}

.card.wide .content {
    margin-left: 35%;
}

.card a.attribution { left: 0.5em; position: absolute; top: 0.5em; }

.card .badge {
    border-radius: 0.25em;
    font-size: 1.1em;
    font-weight: 700;
    right: 0.25em;
    letter-spacing: -3px;
    bottom: 0.1em;
    position: absolute;
    text-align: right;
}

.card.fluid {
    min-height: 0 !important;
}


/************************************************************************
-- CARDS - OVERLAYS
************************************************************************/
.card.overlay img { 
    height: 60%; 
    opacity: 0.8; 
    position: absolute; 
    width: 100%; 
    z-index: 0; 
}

.card.overlay:hover .content { 
    opacity: 1; 
}

.card.overlay .content {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    font-size: 0.89em;
    height: 50%;
    left: -0.75rem; 
    opacity: 0.95;
    padding: 0.25rem 0 0 1.25rem;
    position: absolute; 
    bottom: -10%; 
    width: 106%;
}

.card.overlay .content .caption {
    display: inline-block;
}

.card.overlay .content h3 a {
    display: block;
    color: #eee !important; 
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.card.overlay.article .content {
    background: var(--articles-color-400);
}

.card.overlay.article .content p.summary {
    font-size: 0.8em;
    margin-top: -0.5em;
}
.card.overlay.article .content p.summary span.reading-time {
    display: none;
}

/************************************************************************
-- TAG TITLE
************************************************************************/
.card .tag-title {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    font-size: 1.4em; 
    font-weight: 900; 
    letter-spacing: 2px;
    padding: 0;
    position: absolute; 
    margin: 0;
    text-align: center;
    /* -webkit-text-stroke: 1px var(--videos-color-100); */
    width: 100%;
    z-index: 99; 
}

.card .tag-title a {
    color: #ddd !important;
    padding: 0 0.5em;
}

/************************************************************************
-- CARDS - VIDEOS 
************************************************************************/
.card.video.fullscreen {
    margin-bottom: -2em;
    margin-left: calc(var(--gutter-width) * -2);
    margin-right: -4em;
    width: calc( 100% + (var(--gutter-width) * 4));
}

.card.video.fullscreen .content {
    padding-left: calc( var(--gutter-width) * 2 );
    padding-right: calc( var(--gutter-width) * 2 );
}

.card a i.fas.fa-play { border-radius: 50%; font-size: 16px; height: 32px; opacity: 0.95; padding: 0.5em 0.5em 0.5em 0.65em; position: absolute; right: calc(50% - 16px); top: calc(25% - 16px); width: 32px; }
.card.img-25 a i.fas.fa-play { top: calc(12% - 16px); }
.card.img-33 a i.fas.fa-play { top: calc(16% - 16px); }
.card.img-50 a i.fas.fa-play { top: calc(25% - 16px); }
.card.img-66 a i.fas.fa-play { top: calc(33% - 16px); }
.card.img-75 a i.fas.fa-play { top: calc(37% - 16px); }
.card.img-100 a i.fas.fa-play { top: calc(50% - 16px); }
.card.wide a i.fas.fa-play { left: calc(16% - 16px); top: calc(50% - 16px); }


/************************************************************************
-- FOOTER
************************************************************************/
footer {
    background: #010102;
    border-top: 1px solid #111111;
    float: left;
    padding: 0.05em 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

footer h2 {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer h5 {
    line-height: 1.4;
    margin-bottom: 0.25em;
    margin-top: 0.2em;
    padding-top: 0;
    padding-bottom: 0;
}

footer h3 {
    float: left;
    margin-right: 1em;
    position: relative;
}

/************************************************************************
-- PLAYER
************************************************************************/
#player {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

#player iframe {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#player .plyr__menu__container .plyr__control {
    color: var(--videos-color-300);
}

/************************************************************************
-- ARTICLE
************************************************************************/
article p {
    font-family: "Montserrat";
    font-size: 1.1em;
    line-height: 1.6;
}

article blockquote {
    border-left: 5px solid #aaa;
    color: #ddd;
    font-size: 1.4em;
    margin: 2em 0;
    padding-left: 1em;
}

article p a, article h2 {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--news-color-100), var(--videos-color-100)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color-100), var(--videos-color-100)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/************************************************************************
-- PAGINATION
************************************************************************/
ul.pagination {
    display: block;
    margin-left: 1em;
    margin-top: -5em;
    padding-left: 0;
    padding-top: 5em;
}

ul.pagination:hover li {
    transform: scale(1.6);
    transition: all 0.1s ease-in-out;
}

ul.pagination li {
    background: #060606;
    font-weight: 900;
    opacity: 0.8;
    padding: 0.25em;
    text-align: center;
    transition: all 0.2s ease-in;
    width: 1.2em;
}

ul.pagination li a {
    color: #ddd !important;
}

ul.pagination li:hover {
    background: #161616;
}