/************************************************************************
-- GETINSPIRED365
************************************************************************/
:root {
    --news-color: #1dbaf8;
    --news-color-darken: #116d91;
    --news-color-300: #073242;
    --articles-color: #165bcc;
    --articles-color-darken: #0e3e8a;
    --articles-color-300: #051836;
    --quotes-color: #8b639c;
    --quotes-color-darken: #5a3f66;
    --quotes-color-300: #2f2136;
    --videos-color: #cf3c6f;
    --videos-color-darken: #7d2443;
    --videos-color-300: #3d1120;
    --tags-color: #161616;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/************************************************************************
-- BODY
************************************************************************/
body { 
    background: #100e17; 
    background: -webkit-linear-gradient(to right, #090909, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #090909, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #aaa; 
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}

/************************************************************************
-- BACKGROUND COLORS
************************************************************************/
.bg-gray { background: #222; }

.bg-gradient {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--news-color), var(--videos-color)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color), var(--videos-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-trianglify {
    background: url('/img/background/trianglify.png');
    background-size: cover;
}

.bg-news {
    background: var(--news-color);
}
.bg-news-darken {
    background: var(--news-color-darken);
}
.bg-news-300 {
    background: var(--news-color-300);
}
.bg-news-gradient {
    background: var(--news-color-300); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--news-color), var(--news-color-300)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color), var(--news-color-300)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-articles {
    background: var(--articles-color);
}
.bg-articles-darken {
    background: var(--articles-color-darken);
}
.bg-articles-300 {
    background: var(--articles-color-300);
}
.bg-articles-gradient {
    background: var(--articles-color-300); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--articles-color), var(--articles-color-300)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--articles-color), var(--articles-color-300)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-quotes {
    background: var(--quotes-color);
}
.bg-quotes-darken {
    background: var(--quotes-color-darken);
}
.bg-quotes-300 {
    background: var(--quotes-color-300);
}
.bg-quotes-gradient {
    background: var(--quotes-color-300); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--quotes-color), var(--quotes-color-300)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--quotes-color), var(--quotes-color-300)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-videos {
    background: var(--videos-color);
}
.bg-videos-darken {
    background: var(--videos-color-darken);
}
.bg-videos-300 {
    background: var(--videos-color-300);
}
.bg-videos-gradient {
    background: var(--videos-color-300); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--videos-color), var(--videos-color-300)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--videos-color), var(--videos-color-300)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/************************************************************************
-- COLORS
************************************************************************/
.gradient-text {     
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--news-color), var(--videos-color)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color), var(--videos-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news {
    color: var(--news-color) !important;
}
.news-darken {
    color: var(--news-color-darken) !important;
}
.news-300 {
    color: var(--news-color-300) !important;
}
.news-gradient-text {
    background: -webkit-linear-gradient(to right, var(--news-color), var(--news-color-darken)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color), var(--news-color-darken)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.articles {
    color: var(--articles-color) !important;
}
.articles-darken {
    color: var(--articles-color-darken) !important;
}
.articles-300 {
    color: var(--articles-color-300) !important;
}
.articles-gradient-text {
    background: -webkit-linear-gradient(to right, var(--articles-color), var(--articles-color-darken)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--articles-color), var(--articles-color-darken)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quotes {
    color: var(--quotes-color) !important;
}
.quotes-darken {
    color: var(--quotes-color-darken) !important;
}
.quotes-300 {
    color: var(--quotes-color-300) !important;
}
.quotes-gradient-text {
    background: -webkit-linear-gradient(to right, var(--quotes-color), var(--quotes-color-darken)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--quotes-color), var(--quotes-color-darken)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quotes-gradient-text {
    background: -webkit-linear-gradient(to right, var(--quotes-color), var(--quotes-color-darken)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--quotes-color), var(--quotes-color-darken)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.videos {
    color: var(--videos-color) !important;
}
.videos-darken {
    color: var(--videos-color-darken) !important;
}
.videos-300 {
    color: var(--videos-color-300) !important;
}
.videos-gradient-text {
    background: -webkit-linear-gradient(to right, var(--videos-color), var(--videos-color-darken)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--videos-color), var(--videos-color-darken)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/************************************************************************
-- BORDERS
************************************************************************/
.b-featured {
    border: 5px solid #000;
    border-radius: 0.5em;
}

.b-gradient {
    border: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color) 0%, var(--videos-color) 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.bb-gradient {
    border-bottom: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color) 0%, var(--videos-color) 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.bb {
    border-bottom: 1px solid #100e17;
}

.bb-news {
    border-bottom: 1px solid var(--news-color);
    border-image: linear-gradient(to right, var(--news-color) 0%, var(--news-color-300) 100%);
    border-image-slice: 1;
}
.bb-article {
    border-bottom: 1px solid var(--articles-color);
    border-image: linear-gradient(to right, var(--articles-color) 0%, var(--articles-color-300) 100%);
    border-image-slice: 1;
}
.bb-quote {
    border-image: linear-gradient(to right, var(--quotes-color) 0%, var(--quotes-color-300) 100%);
    border-bottom: 1px solid var(--quotes-color);
    border-image-slice: 1;
}
.bb-video {
    border-image: linear-gradient(to right, var(--videos-color) 0%, var(--videos-color-300) 100%);
    border-bottom: 1px solid var(--quotes-color);
    border-image-slice: 1;
}

.bl-news {
    border-left: 1px solid var(--news-color);
}
.bl-article {
    border-left: 1px solid var(--articles-color);
}
.bl-quote {
    border-left: 1px solid var(--quotes-color);
}
.bl-quote-300 {
    border-left: 1px solid var(--quotes-color-300);
}
.bl-video {
    border-left: 1px solid var(--videos-color);
}

.br {
    border-radius: 0.5em;
}

.bw2 { 
    border-width: 2px;
}


/************************************************************************
-- WELLS
************************************************************************/
.well1 {
    padding: 1em;
}

/************************************************************************
-- LISTS
************************************************************************/
ul {
    list-style-type: none;
}

ul li {
    float: left;
    margin-right: 1em;
}

ul li a:hover {
    color: #fff;
}


/************************************************************************
-- HYPERLINKS
************************************************************************/
a {
    color: #aaa;
    text-decoration: none;
}

a:hover { 
    color: #fff;
    transition: color 0.2s ease-in-out;
}

a.tag:hover {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--news-color), var(--videos-color)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color), var(--videos-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ccc;
    transition: background-color 1s ease-in-out;
}

a:visited {
    color: #aaa;
}


/************************************************************************
-- TYPOGRAPHY
************************************************************************/
p {
    font-family: 'Montserrat';
    line-height: 1.6em;
}


/************************************************************************
-- FIGURE
************************************************************************/
figure {
    margin: 1.5em 0;
    width: 100%;
}

figure img {
    border-radius: 0.5em;
    height: auto;
    width: 100%;
}

figure p {
    font-size: 0.7em;
}


/************************************************************************
-- BLOCK QUOTES
************************************************************************/
blockquote {
    background: #090909;
    /* -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); */
    border-radius: 0.5em;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.5em 0.5em 0;
    min-height: 200px;
    padding: 1em;
    vertical-align: top;
    width: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* blockquote:nth-child(2n+1) {
    background: #111111;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
} */

blockquote p {
    margin-top: -0.2em;
    text-align: center;
}

blockquote::before {
     color: var(--quotes-color-300);
     font-family: FontAwesome; 
     font-weight: 900; 
     content: "\f10d"; 
     float: left;
     margin-bottom: 1em;
     margin-top: 1em;
     padding-right: 0.5em;
     text-align: center;
     width: 100%;
}

blockquote cite {
    color: var(--quotes-color-darken);
    display: block;
    font-size: 0.8em;
    font-style: normal;
    margin-top: 1.5em;
    width: 100%;
}


/************************************************************************
-- IMAGES
************************************************************************/
img { border-radius: 0.5em; }


/************************************************************************
-- BUTTONS
************************************************************************/
a.btn {
    background: #060606;
    border: 1px solid #161616;
    border-image: linear-gradient(to right, var(--news-color) 0%, var(--videos-color) 100%);
    border-image-slice: 1;
    border-width: 1px;
    float: left;
    font-weight: 700;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    text-transform: capitalize;
    transition: background-color 0.2s ease-out;
}

a.btn:hover {
    color: #161616;
    transition: background-color 0.2s ease-out;
}

a.btn.article {
    background: var(--articles-color-300);
    border-image: none;
    /* border-color: var(--articles-color); */
    border-radius: 0.2em;
}

a.btn.article:hover {
    background: var(--articles-color-darken);
}

a.btn.quote {
    background: var(--quotes-color-300);
    border-image: none;
    /* border-color: var(--quotes-color); */
    border-radius: 0.2em;
}

a.btn.quote:hover {
    background: var(--quotes-color-darken);
}

a.btn.video {
    background: var(--videos-color-300);
    border-image: none;
    /* border-color: var(--videos-color); */
    border-radius: 0.2em;
}

a.btn.video:hover {
    background: var(--videos-color-darken);
}


/************************************************************************
-- SECTIONS ARE FULL WIDTH WITHIN WHICH ARE CONTAINERS
************************************************************************/
.section.var-1 {
    background: #111111;
}

.section.var-2 {
  background: repeating-linear-gradient(
  -55deg,
  #060606,
  #060606 10px,
  #090909 10px,
  #090909 20px);
}

.section.var-2a {
  background: repeating-linear-gradient(
  55deg,
  #060606,
  #060606 10px,
  #090909 10px,
  #090909 20px);
}

.section.var-2b {
  background: repeating-linear-gradient(
  90deg,
  #060606,
  #060606 10px,
  #090909 10px,
  #090909 20px);
}

.section.var-3 {
    background: #110f12;
}

.section.trianglify {
    background: url('/img/background/trianglify.png');
    background-size: cover;
}

.section.videos {
    background: url('/img/background/black-radial-gradient.jpg');
}

/* .section .title {
    margin: 0;
    padding-bottom: 0;
} */

.section .title {
    /* color: #ddd; */
    /* font-size: 1.3em; */
    font-weight: 700;
    letter-spacing: -1px;
    /* margin-top: 0.5em; */
    padding-top: 0;
}

.section .title a:hover {
    color: #ccc;
    /* text-decoration: underline; */
    border-bottom: 1px solid var(--tags-color);
    border-image: linear-gradient(to right, var(--news-color) 0%, var(--videos-color) 100%);
    border-image-slice: 1;
    border-width: 2px;
}

.section .subtitle {
    margin-top: 0.5em;
    padding-top: 0;
}


/************************************************************************
-- CONTAINERS (CHILDREN OF SECTIONS)
************************************************************************/
/* .container {
    width: 100%;
} */

.container i.fas.fas-background {
    color: #262626;
    font-size: 10em !important;
    position: relative; 
    left: 30%; 
    top: 100px;
    transform: rotate(5deg);
}

/************************************************************************
-- SITE NAVIGATION 
************************************************************************/
nav ul.site-nav {
    float: left;
    margin: 0 0 0 0;
    padding: 0.25em 0 0 0;
    position: relative;
}

nav ul.site-nav li {
    border-bottom: 3px solid transparent;
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1em 0 1em 0;
    margin-right: 1.75em;
    position: relative;
    transition: border 0.4s ease-out;
}

nav ul.site-nav li a {
    padding: 1em 0 1em 0;
    text-transform: uppercase;
}

nav ul.site-nav li:nth-child(1) {
    font-size: 0.8em;
    font-weight: 900;
}

nav ul.site-nav li:nth-child(6):hover {
    border-bottom: 1px solid var(--news-color);
    border-image: linear-gradient(to right, var(--news-color) 0%, var(--videos-color) 100%);
    border-image-slice: 1;
    border-width: 3px;
}

nav ul.site-nav li.news:hover {
    border-bottom: 3px solid var(--news-color);
    border-image: none;
}

nav ul.site-nav li.articles:hover {
    border-bottom: 3px solid var(--articles-color);
    border-image: none;
}

nav ul.site-nav li.quotes:hover {
    border-bottom: 3px solid var(--quotes-color);
    border-image: none;
}

nav ul.site-nav li.videos:hover {
    border-bottom: 3px solid var(--videos-color);
    border-image: none;
}

nav ul.contact {
    float: right;
    margin: 0;
    padding: 0;
}

nav ul.contact li {
    float: right;
    font-size: 0.9em;
    margin-left: 1em;
    margin-right: 0;
    padding: 1em 0;
}

@media only screen and (max-width: 601px) {
    .top-nav { display: none; }
    nav { display: none; }
}

/************************************************************************
-- HEADER TEXT AND RIGHT CONTENT
************************************************************************/
header {
    height: 60px;
}
header .logo {
    float: left;
    margin-top: 0;
    position: relative;
}

header .logo h3 {
    float: left;
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-bottom: 0;  
    position: relative;
}

header .logo h3 a {
    color: #aaa;
}

header .logo h3:hover {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #05759e, #d11b5a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #05759e, #d11b5a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .logo h3.date {
    background: #aaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #aaa, #fff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aaa, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clear: both;
    float: left;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0;
    position: relative;
}

/************************************************************************
-- SECTION NAVIGATION
************************************************************************/
ul.section-nav {
    float: left;
    margin: 0;
    padding: 0;
}

ul.section-nav li {
    border-bottom: 3px solid transparent;
    /* border-right: 40px solid #212121; */
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 0.75em 1em 0.4em 1em;
    width: auto;
}

ul.section-nav li a {
    padding: 0 0 0.5em 0;
}

ul.section-nav.news li.selected a {
    color: var(--news-color);
}

ul.section-nav.articles li.selected a {
    color: var(--articles-color);
}

ul.section-nav.quotes li.selected a {
    color: var(--quotes-color);
}

ul.section-nav.videos li.selected a {
    color: var(--videos-color);
}

ul.section-nav li:first-child {
    padding-left: 0;
}

ul.section-nav li a:last-child {
    border: none;
}

ul.section-nav li a:hover {
    border-bottom: 3px solid #fff;
}

ul.section-nav.news a:hover {
    border-color: var(--news-color);
}

ul.section-nav.articles a:hover {
    border-color: var(--articles-color);
}

ul.section-nav.quotes a:hover {
    border-color: var(--quotes-color);
}

ul.section-nav.videos a:hover {
    border-color: var(--videos-color);
}

ul.section-nav.tags a:hover {
    border-bottom: 1px solid var(--news-color);
    border-image: linear-gradient(to right, var(--news-color) 0%, var(--videos-color) 100%);
    border-image-slice: 1;
    border-width: 3px;
}

/************************************************************************
-- PREV / NEXT PAGE WITHIN SECTION
************************************************************************/
.navigate {
    /* background: #000; */
    border-radius: 0.25em;
    color: #aaa;
    height: 2em;
    padding: 0.4em;
    position: fixed;
    text-align: center;
    top: calc(100% / 2 - 1em); 
    transition: transform 0.2s ease-in;
    width: 2em;
    z-index: 10;

}
.navigate.prev {
    left: 2em; 
}
.navigate.next {
    right: 2em; 
}
.navigate:hover {
    transform: scale(2.4);
    transition: transform 0.2s ease-out ;
}

/************************************************************************
-- CARDS
************************************************************************/
.card {
    /* background: #262626; */
    border-radius: 0.5em;
    float: left;
    margin: 1em 0 0 0;
    min-height: 100px;
    position: relative;
    width: 100%;
    transition: transform 0.3s ease-out;
}

.card img {
    border-radius: 0.25em;
    box-shadow: 5px 5px 20px #100000;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}       

.card .content {
    float: left;
    padding: 1em 0;
    position: relative;
}

.card .heading {
    /* background: var(--tags-color);
    color: #444;
    background: #000; */
    color: #eee;
    float: left;
    font-size: 0.6em;
    letter-spacing: 0px;
    margin: 1em 0 0 0;
    opacity: 1;
    padding: 0.2em 0.3em;
    position: relative;
    text-transform: uppercase;
}

.card .caption {
    color: #eee;
    float: left;
    margin-top: 0.5em;
    position: relative;
}

.card .age {
    color: #363636;
    float: left;
    margin-top: 0;
    position: relative;
}

.card.video i {
    color: #eee;
    font-size: 2em;
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(75px - 0.5em);
}


.card.tag {
    background: -webkit-linear-gradient(to right, var(--news-color), var(--videos-color)) !; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--news-color), var(--videos-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #100e17;
    box-shadow: 5px 5px 20px #100000;
    height: 8.2em;
    letter-spacing: 1px;
    margin-bottom: 2em;
    min-height: 0;
    padding-top: 1.7em;
    text-align: center;
    text-transform: uppercase;

}

.card.tag h3 a {
    color: #fff !important;
    font-size: 1.2em;
    font-weight: 400;
}


.card.article {
    /* background: var(--articles-color-300); */
    min-height: 380px;
}

.card.article img {
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    opacity: 0.9;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* .card.article::before {
    background: var(--articles-color);
    background: -webkit-linear-gradient(to right, var(--articles-color), var(--articles-color-darken)) !; 
    background: linear-gradient(to right, var(--articles-color), var(--articles-color-darken)); 
    content: '';
    position: absolute;
    left: 0;
    top: 150px;
    height: 10px;
    width: 100%;
} */

.card.article .caption {
    font-size: 1em;
    letter-spacing: 0;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.card.article .caption a {
    /* color: #eee !important; */
}

.card.article p {
    font-size: 0.7em;
}

.card.article .btn {
    background: var(--articles-color-300);
    border: none;
    border-radius: 0.3em;
    box-shadow: 0px 0px;
    color: #ddd;
    font-size: 0.65em;
    margin-top: 0.5em;
    opacity: 1;
}

/* QUOTES BY TOPIC */
.card.quotes-by-topic {
    /* border: 3px solid var(--quotes-color-300); */
    min-height: 270px;
}

.card.quotes-by-topic img {
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    height: 120px;
    opacity: 0.9;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* .card.quotes-by-topic::before {
    background: var(--quotes-color);
    background: -webkit-linear-gradient(to right, var(--quotes-color), var(--quotes-color-darken)) !;
    background: linear-gradient(to right, var(--quotes-color), var(--quotes-color-darken)); 
    content: '';
    position: absolute;
    left: 0;
    top: 120px;
    height: 3px;
    width: 100%;
}

.card.quotes-by-topic.no-border::before {
    background: none;
} */

.card.quotes-by-topic .caption {
    padding: 0.5em 1em;
    width: 100%;
    text-align: center;
}

.card.quotes-by-topic .btn.quote {
    margin-left: 1.2em;
    margin-right: auto;
}

.card.quotes {
    min-height: 300px;
}

.card.quotes img {
    height: 150px;
    width: 100%;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    box-shadow: none;
    -webkit-box-shadow: none;
    /* box-shadow: 10px 1px 20px var(--quotes-color-300);
    -webkit-box-shadow: 3px 1px 10px var(--quotes-color-300); */
    float: left;
    position: relative;
}

.card.quotes .content {
    background: var(--quotes-color-300);
    float: left;
    position: relative;
    /* bottom: 0; */
    /* left: 0;  */
    /* position: absolute;  */
    /* padding: 1em; */
    text-align: center;
    width: 100%;
}

.card.quotes .content .caption {
    font-size: 1.2em !important;
    font-weight: 700;
    margin-top: 0em;
}

.card.quotes .content .caption a {
    color: #eee;
}

.card.quotes .content p {
    font-size: 0.6em;
    margin-top: -1em;
    padding-top: 0;
}

.card.quotes .btn {
    background: var(--quotes-color-300);
    border: none;
    border-radius: 0.3em;
    box-shadow: 0px 0px;
    color: #ddd;
    font-size: 0.65em;
    margin-top: 0.5em;
    opacity: 1;
}

.card.quotes-by-author img {
    border-radius: 5em;
}
.card.quotes-by-author .caption {
    text-align: center;
}

/************************************************************************
-- CONTENT
************************************************************************/
/* .content {
    background: #131313;
    color: #262626;
    clear: both;
    padding: 1em;
    position: relative;
    float: left;
    width: 100%;
}

.content.article {
    background: white;
    border-radius: 0.5em;
    margin-bottom: 5em;
}

.content.article .header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
}

.content.article h1 {
    color: #444;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
}

.content.article h1::after {
    background: #16bffd; 
    background: -webkit-linear-gradient(to right, #16bffd, #cb3066); 
    background: linear-gradient(to right, #16bffd, #cb3066); 
    content: "";
    display: block;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 100px;
}

.content.article h4 {
    color: #777777;
}

.content.article .left {
    color: #999999;
    float: left;
    font-size: 0.8em;
    padding: 4em 4em 0em 0em;
    width: 22%;
    text-align: right;
}

.content.article h5 {
    clear: both;
    margin-bottom: 0;
    margin-top: 3em;
    float: right;
    width: 100%;
} */

/* .content.article .left ul {
    float: right;
}

.content.article .left ul li {
    float: right;
    margin-right: 0;
}

.content.article .right {
    float: left;
    width: 56%;
} */

/* .content.article article {
    color: #666666;
    font-family: 'Montserrat';
    font-size: 1.2em;
    line-height: 1.6em;
} */

/* .content.article ul {
    list-style-type: none;
}

.content.article ul li {
    text-decoration: none;
}

.content.article ul li a {
    color: #262626;
    text-decoration: none;
    text-transform: lowercase;
} */


/************************************************************************
-- FOOTER
************************************************************************/
footer {
    background: #010102;
    border-top: 1px solid #111111;
    float: left;
    padding: 0.05em 0;
    position: relative;
    width: 100%;
}

footer h3 { 
    float: left;
    margin-right: 1em;
    position: relative;
}


.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* .ns-bbc {
    background-color: #000 !important;
    color: #fff !important;
}

.ns-independent {
    background-color: #e30d24 !important;
    color: #fff !important;
}

.ns-business-news-daily {
    background-color: #3ab6a7 !important;
    color: #fff !important;
} */

.col.l2 .card img {
    height: 120px;
}

.col.l3 .card img {
    height: 150px;
}

.col.l4 .card img {
    height: 180px;
}


/* Using floats */
.grid-col {
  float: left;
  width: 50%;
}

.grid-item {
    padding: 1.5em;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--2, .grid-col--3 { display: none }

/* 3 columns at medium size */
@media ( min-width: 768px ) {
  .grid-col { width: 33.333%; }
  .grid-col--2 { display: block; } /* show column 2 */
}

/* 4 columns at large size */
@media ( min-width: 1080px ) {
  .grid-col { width: 25%; }
  .grid-col--3 { display: block; } /* show column 3 */
}

