{{ define "content" }}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">

                <h1>{{ .Params.name }}</h1>
                <img src="{{ .Params.photo }}" alt="" />

                <h2>Bio</h2>
                {{ .Content }}
                {{ with .Params.twitter }}
                <p>
                    <a href="https://twitter.com/{{ substr . 1 }}">
                        Follow {{ $.Params.name }} on Twitter
                    </a>
                </p>
                {{ end }}
            </div>

            <div class="col s12">
                <h2>Articles</h2>
            </div>

            {{ range .Data.Pages }}
            <div class="col s6 m6 l3">
                <div class="card artcle">
                    <article>
                        <img src="{{.Params.image}}" />
                        <h4 class="caption"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                    </article>
                </div>
            </div>
            {{ end }}

        </div>

    </div>
</div>


{{ end }}