<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }}{{ end }}{{ end }}</title>
    <link rel="stylesheet" href="/css/gi365.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/player.css" />
    <link rel="stylesheet" href="/css/flickity.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- DON'T INDEX TAG PAGES -->
    {{- if .Data.Singular -}}<meta name="robots" content="noindex">{{- end -}}
</head>
{{- if .IsHome -}}
<body class="bg-an1gled-dark-wide">
{{- else -}}
<body class="bg-angled-{{- .Section -}}">
{{- end -}}

{{- if .IsHome -}}
<div class="bg-angled-dark-wide">
{{- else -}}
<div class="bg-angled-{{- .Section -}}">
{{- end -}}
    {{- partial "site-navigation.html" . -}}
    {{- partial "page-header.html" . -}}
    {{- partial "section-navigation.html" . -}}
</div>

    <div id="page-content">
        {{- block "content" . -}}
        {{- end -}}
    </div>

    {{- partial "section-tags.html" . -}}
    {{- partial "page-footer.html" . -}}
    {{- partial "section-page-navigation.html" . -}}

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/6dd30041ec.js" crossorigin="anonymous"></script>
    <script src="/js/packery.min.js"></script>
    <script src="/js/flickity.min.js"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.polyfilled.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>