{{- define "content" -}}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 l8">
                <h2><a href="celebrity" class="c-news-100">Celebrity News ></a></h2>
                <div class="card-grid bg-news-200">
                    {{- $.Scratch.Set "g-card-counter" 0 -}}
                    {{- range (where .Site.Pages "Type" "news") -}}
                    {{- if lt ($.Scratch.Get "g-card-counter") 8 -}}
                    {{- if in .Params.tags "celebrity" -}}
                    <div class="card font-2 s6 m4 l3 h4 bg-news-500">
                        {{- partial "card-news.html" . -}}
                    </div>
                    {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
            <div class="col s12 l4">
                <h2><a href="real-life" class="c-news-100">Real-Life Heroes ></a></h2>
                {{- $.Scratch.Set "g-card-counter" 0 -}}
                {{- range (where .Site.Pages "Type" "news") -}}
                {{- if lt ($.Scratch.Get "g-card-counter") 16 -}}
                {{- if in .Params.tags "real-life" -}}
                <div class="card font-2 h2 wide bg-news-500">
                    {{- partial "card-news-horizontal.html" . -}}
                </div>
                {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}
            </div>
        </div>
    </div>
</div>
{{- end -}}