{{- define "content" -}}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    {{- range .Pages -}}
                    <div class="gi s6 m6 l3">
                        <div class="card font-2 h4 bg-news-500">
                            {{- partial "card-news.html" . -}}
                        </div>
                    </div>
                    {{ end }}

                </div>
            </div>
        </div>
    </div>
</div>
{{- end -}}