{{ define "content" }}

<div class="section no-pad">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>> News</h2>
            </div>
        </div>
    </div>
</div>

<!-- INSPIRATIONAL CELEBS-->
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <h3 class="title news">Inspirational Celebs</h3>
            </div>
        </div>

        <div class="row">
            {{ range site.Data.news.celebrity.source }}
            <div class="col s6 m6 l3">
                <div class="card">
                    <img src="{{.image}}" />
                    <h6 class="heading">{{ .source }}</h6>
                    <h4 class="caption"><a href="{{ .url }}">{{ .title }}</a></h4>
                    <!-- <h5 class="age">1h ago</h5> -->
                </div>
            </div>
            {{ end }}
        </div>

    </div>
</div>

<!-- REAL PEOPLE -->
<div class="section var-1">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <h3 class="title news">Ordinary people doing extraordinary things</h3>
            </div>
        </div>

        <div class="row">
            {{ range .Site.Data.news.realpeople.source }}
            <div class="col s6 m6 l3">
                <div class="card">
                    <img src="{{.image}}" />
                    <h6 class="heading">{{ .source }}</h6>
                    <h4 class="caption"><a href="{{ .url }}">{{ .title }}</a></h4>
                    <!-- <h5 class="age">1h ago</h5> -->
                </div>
            </div>
            {{ end }}
        </div>

    </div>
</div>

{{ end }}