{{- define "content" -}}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 l6 offset-l1">
                <h2 class="c-gradient">{{- .Title -}}</h2>
                {{ .Content }}
            </div>
            <div class="col s12 l4">
                <h2 class="c-news-200">Also in the News</h2>
                {{- $related := .Site.RegularPages.Related . | first 4 | shuffle -}}
                {{- with $related -}}
                {{- range . -}}
                <div class="card font-2 wide h2 bg-news-500">
                    {{- partial "card-news-horizontal.html" . -}}
                </div>
                {{- end -}}
                {{- end -}}
            </div>
        </div>
    </div>
</div>
{{- end -}}