{{ define "content" }}

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col s12">
                <h2>Content tagged with <strong class="border-bottom-gradient">{{ .Title | humanize }}</strong></h2>
            </div>

            {{ range .Pages }}
            <div class="col s6 m6 l3">
                {{ if eq .Type "article"}}
                    {{ partial "card-article.html" . }}
                {{ else }}
                    <div class="card {{ .Type }}">
                        <article>
                            <img src="{{.Params.image}}" />
                            <h4 class="caption"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        </article>
                    </div>
                {{ end }}
            </div>
            {{ end }}

        </div>
    </div>
</div>

{{ end }}