{{ define "content" }}

<!-- LIST ALL TAGS -->
<div class="section">
    <div class="container">
        <div class="row">
            {{- range .Pages -}}
            <div class="col s6 m6 l2">
                <div class="card fluid z-depth-5">
                    <div class="content center bg-angled-dark">
                        <br>
                        <h4 class="c-gradient"><a href="/tags/{{ .Title | urlize }}">{{ .Title | upper }}</a></h4>
                    </div>
                </div>
            </div>
            {{- end -}}
        </div>
    </div>
</div>

{{ end }}

