<div class="img-container bb-articles bw5">
    <a href="{{ .Permalink }}"><img src="{{ .Params.Image }}" alt="{{ .Title }}" /></a>
</div>
<div class="content">
    <h6 class="caption bg-articles-300">ARTICLE</h6>
    <h2 class="title"><a href="{{ .Permalink }}">{{ .Title | upper}}</a></h2>
    {{- if isset .Params "summary" -}}
    <p class="summary"><span>{{ .Params.summary }} <br><br></span> <span class="reading-time"><i class="fas fa-clock"></i> {{ .ReadingTime }} min read</span></p>
    {{- end -}}
</div>
{{- partial "attribution.html" . -}}
