<h3>IsHome = {{ .ThisPage.IsHome }}</h3>

{{- if eq .Debug true -}}
<table>
    <tr><td>IsHome</td><td>{{ .ThisPage.IsHome }}</td></tr>
    <tr><td>Request Type</td><td>{{ .RequestType }}</td></tr>
    <tr><td>Total Items</td><td>{{ .TotalItems }}</td></tr>
    <tr><td>Max Title Length</td><td>{{ .MaxTitleLength }}</td></tr>
    <tr><td>Grid Class</td><td>{{ .GridClass }}</td></tr>
    <tr><td>Card Class</td><td>{{ .CardClass }}</td></tr>
</table>
{{- end -}}

<!-- Setup a range based on request type -->
{{- if eq .RequestType "random videos" -}}
{{- end -}}


<!--Open Grid Item if applicable -->
{{- if ne .GridClass "" -}}
 <div class="{{ .GridClass }}">
{{- end -}}

<!-- Open Card Item -->
{{- if ne .CardClass "" -}}
  <div class="{{ .CardClass }}">
{{- end -}}

<!-- Call the relevant partial -->
<!-- {{- if eq .Partial "card-video" -}} -->
{{ partial "card-video" . }}
<!-- {{- end -}} -->

<!-- Close Card Item -->
{{- if ne .CardClass "" -}}
  </div>
{{- end -}}

<!-- Close Grid Item -->
{{- if ne .GridClass "" -}}
 </div>
{{- end -}}

<!-- Close Range -->
