<!-- <div class="card video horizontal fluid bg-videos-400 z-depth-5"> -->
    <div class="img-container">
        <a href="{{ .Permalink }}"><img src="https://img.youtube.com/vi/{{ .Params.videoid }}/0.jpg" /></a>
    </div>
    <a href="{{ .Permalink }}" class="play c-videos-100"><i class="fas fa-play"></i></a>
    <div class="content">
        <!-- <h5 class="caption bg-videos-300">YOUTUBE</h6> -->
        <h5 class="title"><a href="{{ .Permalink }}">"{{ .Params.title }}"</a></h6>
        <h6 class="summary"> - {{ .Params.author }}</h5>
    </div>
<!-- </div> -->