<div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>

    <div class="hide-on-small-only1">

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range (where .Site.Pages "Type" "news") | shuffle -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 2 -}}
        {{- if in .Params.tags "celebrity" -}}
        <div class="gi s6 m6 l3">
            <div class="card font-2 h4 bg-ne1ws-400 z-depth-5">
                {{- partial "card-news.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range (where .Site.Pages "Type" "news") | shuffle -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
        {{- if in .Params.tags "real-life" -}}
        <div class="gi s6 m6 l3">
            <div class="card font-2 h4 bg-n1ews-400 z-depth-5">
                {{- partial "card-news.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- range (where (where (where .Site.Pages "Type" "articles") ".Title" "!=" nil) ".Title" "!=" "Original Articles") | shuffle | first 1 -}}
        <div class="gi s6 m6 l3">
            <div class="card font-3 center hide-summary h4 bg-art1icles-400 z-depth-5">
                {{ partial "card-article.html" . }}
            </div>
        </div>
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
        {{- if .IsDescendant ($.Site.GetPage "/quotes/authors") -}}
        {{- if ne .Title "Quotes By Author" -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 2 -}}
        <div class="gi s12 m6 l3">
            <div class="card font-5 center hide-summary h4 bg-q1uotes-400 z-depth-5">
                {{- partial "card-author.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range where (where .Site.Pages "Type" "videos") ".Title" "!=" "Inspirational Videos" | shuffle | first 20 -}}
        {{- if lt (.Params.Title | countwords) 10 -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
        <div class="gi s12 m6 l3">
            <div class="card font-6 h4 bg-quo1tes-400 z-depth-5 font-small">
                <br/>
                <figure>
                    <blockquote>{{ .Params.title }}</blockquote>
                    <figcaption>{{ .Params.author }}</figcaption>
                </figure>
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
        {{- if .IsDescendant ($.Site.GetPage "/quotes/topics") -}}
        {{- if ne .Title "Quotes By Topic" -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 2 -}}
        <div class="gi s6 m6 l3">
            <div class="card font-5 hide-summary wide h2 bg-quot1es-400 z-depth-5 font-medium">
                {{- partial "card-topic.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

    </div>

</div>
