<div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="gi s12 m6 l6">
        <div class="card h8 bg-videos-300 z-depth-5">
            {{- range where .Site.Pages "Type" "videos" | shuffle | first 1 -}}
            <div class="plyr__video-embed" id="player1">
                <iframe
                    src="https://www.youtube.com/embed/{{ .Params.videoid }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                    allowfullscreen allowtransparency allow="autoplay"></iframe>
            </div>
            <div class="content">
                <!-- <h2 class="caption bg-videos-300">YOUTUBE</h2> -->
                <h2 class="title">"{{ .Title }}"</h2>
                <h4 class="">- {{ .Params.author }}</h4>
            </div>
            {{- end }}
        </div>
    </div>

    <div class="hide-on-small-only1">

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range (where .Site.Pages "Type" "news") | shuffle -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 2 -}}
        {{- if in .Params.tags "celebrity" -}}
        <div class="gi s6 m6 l2">
            <div class="card h4 bg-news-400 z-depth-5">
                {{- partial "card-news.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range (where .Site.Pages "Type" "news") | shuffle -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
        {{- if in .Params.tags "real-life" -}}
        <div class="gi s6 m6 l2">
            <div class="card h4 bg-news-400 z-depth-5">
                {{- partial "card-news.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- range (where (where (where .Site.Pages "Type" "articles") ".Title" "!=" nil) ".Title" "!=" "Original Articles") | shuffle | first 1 -}}
        <div class="gi s6 m6 l2">
            <div class="card h4 bg-articles-400 z-depth-5">
                {{ partial "card-article.html" . }}
            </div>
        </div>
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range where (where .Site.Pages "Type" "videos") ".Title" "!=" "Inspirational Videos" | shuffle | first 20 -}}
        {{- if lt (.Params.Title | countwords) 10 -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
        <div class="gi s12 m6 l2">
            <div class="card h3 bg-quotes-400 z-depth-5 font-small">
                <figure>
                    <blockquote>{{ .Params.title }}</blockquote>
                    <figcaption>{{ .Params.author }}</figcaption>
                    </figur>
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
        {{- if .IsDescendant ($.Site.GetPage "/quotes/authors") -}}
        {{- if ne .Title "Quotes By Author" -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
        <div class="gi s12 m6 l2">
            <div class="card h3 bg-quotes-400 z-depth-5">
                {{- partial "card-quotes-by-author.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

        {{- $.Scratch.Set "g-card-counter" 0 -}}
        {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
        {{- if .IsDescendant ($.Site.GetPage "/quotes/topics") -}}
        {{- if ne .Title "Quotes By Topic" -}}
        {{- if lt ($.Scratch.Get "g-card-counter") 2 -}}
        <div class="gi s6 m6 l2">
            <div class="card wide h1 bg-quotes-400 z-depth-5 font-medium">
                {{- partial "card-quotes-by-topic.html" . -}}
            </div>
        </div>
        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}

    </div>

</div>
