<header>

        <div class="section no-pad border-bottom">
            <div class="container">
                <div class="row no-margin-bottom">
        
                    <div class="col s12 m7">
                        <!-- LOGO -->
                        <div class="logo">
                            <h3><a href="{{ site.BaseURL }}">GETINSPIRED365</h3>
                            <h3 class="date">{{ dateFormat "2 January" now }}</h3>
                        </div>
                        <div class="hide-on-med-and-up right">
                            <a href="#"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
        
                    <div class="col s12 m5">
                        <!-- MAIN LINKS -->
                        <ul>
                            <li><a href="{{ site.BaseURL }}inspirational-videos">VIDEOS</a></li>
                            <li><a href="{{ site.BaseURL }}categories">QUOTES</a></li>
                            <li><a href="{{ site.BaseURL }}articles">ARTICLES</a></li>
                            <li><a href="{{ site.BaseURL }}news">NEWS</a></li>
                        </ul>
                    </div>
        
                </div>
            </div>
        </div>

</header>