<div class="section no-pad bb">
    <div class="container">
        <div class="row no-margin-bottom">
            <header>

                <div class="col s12 m5">
                    <!-- LOGO -->
                    <div class="logo">
                        <h3><a href="{{ site.BaseURL }}">GETINSPIRED365</h3>
                        <h3 class="date">{{ dateFormat "2 January" now }}</h3>
                    </div>
                    <div class="hide-on-med-and-up right">
                        <a href="#"><i class="fas fa-bars"></i></a>
                    </div>
                </div>
                
                <div class="col s12 m7">
                    <!-- MAIN LINKS -->
                    <ul>
                        <li><a href="{{ site.BaseURL }}inspirational-videos"><span>VIDEOS</span></a></li>
                        <li><a href="{{ site.BaseURL }}categories"><span>QUOTES</span></a></li>
                        <li><a href="{{ site.BaseURL }}articles"><span>ARTICLES</span></a></li>
                        <li><a href="{{ site.BaseURL }}news"><span>NEWS</span></a></li>
                    </ul>
                </div>

            </header>
        </div>
    </div>
</div>
