<div class="section no-pad border-bottom">
    <div class="container">
        <div class="row no-margin-bottom">
            <div class="col s12 m8">
                <nav>
                    <ul class="featured">
                        
                        <li class="bg-gradient-text">//</li>
                        {{- $scratch := newScratch  -}}
                        {{- $scratch.Set "myLimit" 0 }}
                        {{- range $name, $items := site.Taxonomies.tags }}
                        {{- $scratch.Set "myLimit" (add ($scratch.Get "myLimit") 1) }}
                        {{- if le ($scratch.Get "myLimit") (site.Param "tagsLimit_TopBar") }}
                        <li><a href="/tags/{{- $name | urlize -}}">{{ $name }}</a></li>
                        {{- end }}
                        {{- end }}

                    </ul>
                </nav>
            </div>
            <div class="col s12 m4">
                <nav>
                    <ul class="contact">
                        <li><a href="/sitemap.xml"><i class="fas fa-rss"></i></a></li>
                        <li><a href="/about"><i class="fas fa-info-circle"></i></a></li>
                        <li><a href="mailto:contact@getinspired365.com"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://www.twitter.com/getinspired365"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/getinspired365dotcom"><i class="fab fa-facebook"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>