<footer>
    <div class="section no-pad">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3><a href="#"><i class="fas fa-flushed color-news"></i></a></h3>
                    <h3><a href="#"><i class="fas fa-surprise color-article"></i></a></h3>
                    <h3><a href="#"><i class="fas fa-sad-tear color-category"></i></a></h3>
                    <h3><a href="#"><i class="fas fa-laugh-beam color-video"></i></a></h3>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="https://kit.fontawesome.com/6dd30041ec.js" crossorigin="anonymous"></script>