<footer>
    <div class="section no-pad bt-gradient bw3">
        <div class="container">
            <div class="row">
                <div class="col s6 l3">
                    <h2 class="c-gradient">GETINSPIRED365</h2>
                    <h5><i class="fas fa-lightbulb"></i> The Home Of Inspiration... and Heroes</h5>
                </div>
                <div class="col s6 l3">
                    <h2 class="c-gradient">ABOUT US</h2>
                    <h5>We exist to inspire you on any day of the year, at any time of the day, however you're feeling!<a href="/about"> <span class="c-gradient">Read More</span></a></h5>
                </div>
                <div class="col s6 l3">
                    <h2 class="c-gradient">POPULAR PAGES</h2>
                    <h5><a href="/articles">Articles</a></h5>
                    <h5><a href="/quotes/authors">Authors</a></h5>
                    <h5><a href="/news/celebrity">Celebrities Doin' Good</a></h5>
                    <h5><a href="/news/real-life">Real-Life Heroes</a></h5>
                    <h5><a href="/videos">Inspirational Videos</a></h5>
                </div>
                <div class="col s6 l3">
                    <h2 class="c-gradient">POPULAR TAGS</h2>
                    <h5><a href="/tags/adversity">Adversity</a></h5>
                    <h5><a href="/tags/">Motivation</a></h5>
                    <h5><a href="/tags/celebrity">Inspiration</a></h5>
                    <h5><a href="/tags/real-life">Relationships</a></h5>
                    <h5><a href="/tags">Love</a></h5>
                </div>
                <!-- <div class="col s8 offset-s2">
                    <div class="center">
                        <h3>Find me something to inspire me ... today I'm feeling ... </h3>
                        <h3><a href="#"><i class="fas fa-flushed color-news"></i></a></h3>
                        <h3><a href="#"><i class="fas fa-surprise color-article"></i></a></h3>
                        <h3><a href="#"><i class="fas fa-sad-tear color-category"></i></a></h3>
                        <h3><a href="#"><i class="fas fa-laugh-beam color-video"></i></a></h3>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
