{{ if eq .Section "news" }}
<div id="section-nav" class="section no-pad bb bg-news-500 var-2 z-depth-1">
    <div class="container">
        <div class="row no-margin-bottom">
            <div class="col s12">
                <ul class="section-nav news">
                    <li{{ if eq .Section (path.Base .File.Dir)}} class="selected" {{ end }}><a href="/news">HOME</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/news/celebrity"))}} class="selected" {{ end }}><a href="/news/celebrity">CELEBRITY</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/news/real-life"))}} class="selected" {{ end }}><a href="/news/real-life">REAL LIFE HEROES</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ if eq .Section "articles" }}
<div id="section-nav" class="section no-pad bb bg-articles-500 var-2 z-depth-1">
    <div class="container">
        <div class="row no-margin-bottom">
            <div class="col s12">
                <ul class="section-nav articles">
                    <li{{ if eq .Section (path.Base .File.Dir)}} class="selected" {{ end }}><a href="/articles">HOME</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/articles/stories"))}} class="selected" {{ end }}><a href="/articles/stories">STORIES</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/articles/interviews"))}} class="selected" {{ end }}><a href="/articles/interviews">INTERVIEWS</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/articles/opinion"))}} class="selected" {{ end }}><a href="/articles/opinion">OPINION</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ if eq .Section "quotes" }}
<div id="section-nav" class="section no-pad bg-quotes-500 z-depth-1">
    <div class="container">
        <div class="row no-margin-bottom">
            <div class="col s12">
                <ul class="section-nav quotes">
                    <li{{ if eq .Section (path.Base .File.Dir)}} class="selected"{{ end }}><a href="/quotes">HOME</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/quotes/authors"))}} class="selected"{{ end }}><a href="/quotes/authors">AUTHORS</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/quotes/topics"))}} class="selected"{{ end }}><a href="/quotes/topics">TOPICS</a></li>
                    <li{{ if (.IsDescendant ($.Site.GetPage "/quotes/top-lists"))}} class="selected" {{ end }}><a href="/quotes/top-lists">TOP LISTS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{- if eq .Section "tags" -}}
<div id="section-nav" class="section no-pad bb bg-tags-500 bg-angled-dark z-depth-1">
    <div class="container">
        <div class="row no-margin-bottom">
            <div class="col s12">
                <ul class="section-nav tags c-gradient">
                    <li><a href="/tags">HOME</a></li>
                    {{- range first 15 .Site.Taxonomies.tags.ByCount -}}
                        <li><a href="/tags/{{- .Name | urlize -}}">{{ upper .Name }}</a></li>
                    {{- end -}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{- end -}}
