{{- if eq .IsHome false -}}
{{- if isset .Params "tags" -}}
<div id="section-tags" class="section bg-angled-dark">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Related Tags</h2>
                {{- range .Params.tags -}}
                {{- if and  (ne (substr . 0 1) "_") (ne . "") -}}
                <a class="btn" href="/tags/{{ . | lower }}">{{ . }}</a>
                {{- end -}}
                {{- end -}}
            </div>
        </div>
    </div>
</div>
{{- end -}}
{{- end -}}