<div id="site-nav" class="section no-pad bg-black z-depth-3">
    <div class="container">
        <div class="row no-margin-bottom">
            <div class="col s12 m8">
                <nav>
                    <ul class="site-nav" id="burger_menu">
                        {{if eq .IsHome false}}<li class="c-gradient"><a class="" href="{{ site.BaseURL }}"><span>GETINSPIRED365</span></a></li>{{end}}
                        <li class="news"><a href="{{ site.BaseURL }}news"><span>NEWS</span></a></li>
                        <li class="articles"><a href="{{ site.BaseURL }}articles"><span>ARTICLES</span></a></li>
                        <li class="quotes"><a href="{{ site.BaseURL }}quotes"><span>QUOTES</span></a></li>
                        <li class="videos"><a href="{{ site.BaseURL }}videos"><span>VIDEOS</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col s12 m4 nav-contact">
                <nav>
                    <ul class="contact">
                        <li><a href="/sitemap.xml"><i class="fas fa-rss"></i></a></li>
                        <li><a href="/about"><i class="fas fa-info-circle"></i></a></li>
                        <li><a href="mailto:contact@getinspired365.com"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://www.twitter.com/getinspired365"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/getinspired365dotcom"><i class="fab fa-facebook"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
