{{ define "content" }}
<div class="section bg-homepage">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <!-- <h2 class="c-gradient display-inline-block">Today's Mashup</h2> -->
                <div class="hide-on-med-and-up">
                    <h2 class="c-videos-100">Today's Featured Video</h2>
                </div>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    <div class="gi s12 m6 l6">
                        <div class="card h8 bg-videos-300 z-depth-5">
                            {{- range where (where .Site.Pages "Type" "videos") ".Params.title" "=" "May your adventures bring you closer together, even as they take you far away from home." | shuffle | first 1 -}}
                            <div class="plyr__video-embed" id="player1">
                                <iframe
                                    src="https://www.youtube.com/embed/{{ .Params.videoid }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                                    allowfullscreen allowtransparency allow="autoplay"></iframe>
                            </div>
                            <div class="content">
                                <!-- <h2 class="caption bg-videos-300">YOUTUBE</h2> -->
                                <h2 class="title">"{{ .Title }}"</h2>
                                <h4 class="">- {{ .Params.author }}</h4>
                            </div>
                            {{- end }}
                        </div>
                    </div>

                    <div class="hide-on-small-only">

                        {{- $.Scratch.Set "g-card-counter" 0 -}}
                        {{- range (where .Site.Pages "Type" "news") | shuffle -}}
                        {{- if lt ($.Scratch.Get "g-card-counter") 2 -}}
                        {{- if in .Params.tags "celebrity" -}}
                        <div class="gi s6 m6 l2">
                            <div class="card h4 bg-news-400 z-depth-5">
                                {{- partial "card-news.html" . -}}                
                            </div>
                        </div>
                        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}

                        {{- $.Scratch.Set "g-card-counter" 0 -}}
                        {{- range (where .Site.Pages "Type" "news") | shuffle -}}
                        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
                        {{- if in .Params.tags "real-life" -}}
                        <div class="gi s6 m6 l2">
                            <div class="card h4 bg-news-400 z-depth-5">
                                {{- partial "card-news.html" . -}}
                            </div>
                        </div>
                        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}

                        {{- range (where (where (where .Site.Pages "Type" "articles") ".Title" "!=" nil) ".Title" "!=" "Original Articles") | shuffle | first 1 -}}
                        <div class="gi s6 m6 l2">
                            <div class="card h4 bg-articles-400 z-depth-5">
                                {{ partial "card-article.html" . }}
                            </div>
                        </div>
                        {{- end -}}

                        {{- $.Scratch.Set "g-card-counter" 0 -}}
                        {{- range where (where .Site.Pages "Type" "videos") ".Title" "!=" "Inspirational Videos" | shuffle | first 20 -}}
                        {{- if lt (.Params.Title | countwords) 10 -}}
                        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
                        <div class="gi s12 m6 l2">
                            <div class="card h3 bg-quotes-400 z-depth-5 font-small">
                                <figure>
                                    <blockquote>{{ .Params.title }}</blockquote>
                                    <figcaption>{{ .Params.author }}</figcaption>
                                </figure>
                            </div>
                        </div>
                        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}

                        {{- $.Scratch.Set "g-card-counter" 0 -}}
                        {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
                        {{- if .IsDescendant ($.Site.GetPage "/quotes/authors") -}}
                        {{- if ne .Title "Quotes By Author" -}}
                        {{- if lt ($.Scratch.Get "g-card-counter") 1 -}}
                        <div class="gi s6 m6 l2">
                            <div class="card h3 bg-quotes-400 z-depth-5">
                                {{- partial "card-quotes-by-author.html" . -}}
                            </div>
                        </div>
                        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}

                        {{- $.Scratch.Set "g-card-counter" 0 -}}
                        {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
                        {{- if .IsDescendant ($.Site.GetPage "/quotes/topics") -}}
                        {{- if ne .Title "Quotes By Topic" -}}
                        {{- if lt ($.Scratch.Get "g-card-counter") 2 -}}
                        <div class="gi s12 m6 l2">
                            <div class="card wide h1 bg-quotes-400 z-depth-5 font-medium">
                                {{- partial "card-quotes-by-topic.html" . -}}                
                            </div>
                        </div>
                        {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}
                    </div>

                </div> 
            </div>  
        </div>
    </div>
</div>

<!-- <div class="section bg-angled-dark no-pad">
    <div class="container">
        <div class="row bg-angled-videos br">
            <div class="col s8 l9">
                <h2><a class="c-videos-1100" href="/videos">Related</a></h2>
            </div>
            <div class="col s4 l3">
                <h3 class="right"><a href="/videos">View All ></a></h3>
            </div>
            <div class="clearfix"></div>
            {{- $.Scratch.Set "g-card-counter" 0 -}}
            {{- range where (where .Site.Pages "Type" "videos") ".Params.title" "!=" "Inspirational Videos" | shuffle | first 20 -}}
                {{- if lt ($.Scratch.Get "g-card-counter") 4 -}}
                    {{- if lt (.Params.Title | countwords) 16 -}}
                        <div class="col s12 l3">
                            {{ partial "card-video-horizontal.html" . }}
                            {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                        </div>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        </div>
    </div>
</div> -->

<div class="section bg-news-gradie1nt">
    <div class="container">
        <div class="row">
            <div class="col s12 l9">
                <h2><a class="c-news-gradient display-inline-block" href="/news/celebrity">Celebrity Inspiration ></a></h2>
                <div class="card-grid">
                    {{- $.Scratch.Set "g-card-counter" 0 -}}
                    {{- range (where .Site.Pages "Section" "news") }}
                    {{- if lt ($.Scratch.Get "g-card-counter") 3 -}}
                    {{- if in .Params.tags "celebrity" -}}
                    {{- if eq ($.Scratch.Get "g-card-counter") 0 }}
                        <div class="card s12 m12 l6 h6 bg-news-400 z-depth-5">
                    {{- else if eq ($.Scratch.Get "g-card-counter") 1 }}
                        <div class="card s6 m6 l3 h6 bg-news-400 z-depth-5">
                    {{- else -}}
                        <div class="card s6 m6 l3 h6 bg-news-400 z-depth-4 font-medium">
                    {{- end -}}
                    {{- partial "card-news.html" . -}}
                    </div>
                    {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
            <div class="col s12 l3">
                <h2><a class="c-news-gradient display-inline-block" href="/news/real-life">Real-Life Heroes ></a></h2>
                {{- $.Scratch.Set "g-card-counter" 0 -}}
                {{- range (where .Site.Pages "Type" "news") -}}
                {{- if lt ($.Scratch.Get "g-card-counter") 3 -}}
                {{- if in .Params.tags "real-life" -}}
                <div class="card h2 wide bg-news-400 font-medium">
                {{- partial "card-news-horizontal.html" . -}}
                </div>
                {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                {{- end -}}
                {{- end -}}
                {{- end -}}
            </div>
        </div>
    </div>
</div>  

<div class="section extra-pad bg-articles-500">
    <div class="container">
        <div class="hide-on-small-only"><div class="row"></div><div class="row"></div></div>
        <div class="row">
            <div class="col s12 l3">
                <div class="well1">
                    <br><br>
                    <h2 class="c-articles-200 display-inline-block no-pad no-margin" >ORIGINAL ARTICLES</h2>
                    <h3>Real-life Stories, Interviews and Opinion to inspire you</h3>
                    <br>
                    <div class="hide-on-med-and-down center">
                        <a class="btn c-articles-100" href="articles">More Articles ></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l9">
                <div class="card-grid">
                    {{- range (where (where (where .Site.Pages "Type" "articles") ".Title" "!=" nil) ".Title" "!=" "Original Articles") | shuffle | first 4 -}}
                    <div class="card article-special h5 s6 m6 l3 z-depth-5">
                        {{ partial "card-article.html" . }}
                    </div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2><a class="c-quotes-gradient display-inline-block" href="/quotes/authors">Famous Quotes ></a></h2>
            </div>
            {{- $.Scratch.Set "g-card-counter" 0 -}}
            {{- range where .Site.Pages "Section" "quotes" | first 20 -}}
            {{- if .IsDescendant ($.Site.GetPage "/quotes/authors") -}}
            {{- if ne .Title "Quotes By Author" -}}
            {{- if lt ($.Scratch.Get "g-card-counter") 3 -}}
            <div class="col s12 m6 l3">
                <div class="card h6 bg-quotes-500">
                    {{- partial "card-quotes-by-author.html" . -}}
                </div>
            </div>
            {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
            {{- end -}}
            {{- end -}}
            {{- end -}}
            {{- end -}}
            <div class="col s12 m6 l3">
                {{- $.Scratch.Set "g-card-counter" 0 -}}
                {{ range where .Site.Pages "Section" "quotes" | first 13 }}
                {{ if .IsDescendant ($.Site.GetPage "/quotes/topics") }}
                {{ if ne .Title "Quotes By Topic" }}
                    {{- if lt ($.Scratch.Get "g-card-counter") 3 -}}
                    <div class="card h2 wide">
                        {{ partial "card-quotes-by-topic.html" . }}
                    </div>
                    {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                    {{- end -}}
                {{ end }}
                {{ end }}
                {{ end }}
            </div>

        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row br2 bg-homepage">
            <div class="col s12">
                <h2><a class="c-quotes-gradient display-inline-block" href="/quotes">Today's Motivational Quotes ></a></h2>
            </div>
            <div class="col s12">
                <div class="card-grid">
                    {{- $.Scratch.Set "g-card-counter" 0 -}}
                    {{- range where (where .Site.Pages "Type" "videos") ".Title" "!=" "Inspirational Videos" | shuffle | first 20 -}}
                    {{- if lt (.Params.Title | countwords) 16 -}}
                    {{- if lt ($.Scratch.Get "g-card-counter") 4 -}}
                    <div class="gi card h4 s12 m6 l3 bg-quotes-500 z-depth-5">
                        <figure>
                            <blockquote>{{ .Params.title }}</blockquote>
                            <figcaption>{{ .Params.author }}</figcaption>
                        </figure>
                    </div>
                    {{- $.Scratch.Set "g-card-counter" (add ($.Scratch.Get "g-card-counter") 1) -}}
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-videos-gradient">
    <div class="container">
        <div class="row">
            <div class="col s8 m6 l6">
                <h2><a class="c-videos-gradient display-inline-block" href="/videos">Latest Videos ></a></h2>
            </div>
            <div class="col s4 m6 l6">
                <h4><a class="right" href="/videos">View All</a></h4>
            </div>
            <div class="col s12">
                <div class="card-grid">
                {{- $.Scratch.Set "counter" 0 -}}
                {{- range where (where .Site.Pages "Type" "videos") ".Params.title" "!=" "Inspirational Videos" | shuffle | first 7 -}}
                {{- if eq ($.Scratch.Get "counter") 0 -}}
                <div class="card h4 s12 m6 l6 img-75">
                {{- else -}}
                <div class="card h4 s12 m6 l3 img-50">
                {{- end -}}
                    {{ partial "card-video.html" . }}
                {{- $.Scratch.Set "counter" 1 -}}
                </div>
                {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TAGS -->
<div class="section bg-angled-dark">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="title"><a class="c-gradient display-inline-block" href="/tags">Top 10 Tags ></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{- range first 10 .Site.Taxonomies.tags.ByCount -}}
                <a href="/tags/{{ .Name | urlize -}}" class="btn">{{ upper .Name }}</a>
                {{- end -}}
            </div>
        </div>
    </div>
</div>

<!-- <div class="section bt-gradient bb-gradient bg-angled-dark">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="center">
                    <h2 class="c-gradient">"Find me something to INSPIRE ME"</h2>
                    <h3>We Got You, how are you feeling?</h3>
                    <ul style="display: flex; justify-content: center;">
                        <li>
                            <h3><a href="/tags/hmmm"><i class="fas fa-flushed c-articles-100"></i> Hmmm</a></h3>
                        </li>
                        <li>
                            <h3><a href="/tags/sad"><i class="fas fa-surprise c-quotes-100"></i> Happy</a></h3>
                        </li>
                        <li>
                            <h3><a href="/tags/happy"><i class="fas fa-sad-tear c-news-100"></i> Sad</a></h3>
                        </li>
                        <li>
                            <h3><a href="/tags/comedy"><i class="fas fa-laugh-beam c-videos-100"></i> Funny</a></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

{{ end }}