{{ define "content" }}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="grid" data-colcade="columns: .grid-col, items: .grid-item">

                    <!-- columns -->
                    <div class="grid-col grid-col--1"></div>
                    <div class="grid-col grid-col--2"></div>
                    <div class="grid-col grid-col--3"></div>
                    <div class="grid-col grid-col--4"></div>

                    <!-- News -->
                    <!-- <div class="grid-item extra-padding">
                        <div class="card fluid bg-news-300 center1">
                            <h2><a class="c-news-200" href="/news">NEWS</a></h2>
                        </div>
                    </div> -->
                    {{- range (where .Site.Pages "Type" "news") | first 10 -}}
                    <div class="grid-item">
                        {{- partial "card-news.html" . -}}
                    </div>
                    {{ end }}

                    <!-- Articles -->
                    <!-- <div class="grid-item extra-padding">
                        <div class="card fluid bg-articles-gradient center1">
                            <h2><a class="c-articles-300" href="/articles">ARTICLES</a></h2>
                        </div>
                    </div> -->
                    {{- range first 4 (where (where (where .Site.Pages "Type" "articles") ".Title" "!=" nil) ".Title" "!=" "Original Articles") -}}
                    <div class="grid-item">
                        {{ partial "card-article.html" . }}
                    </div>
                    {{- end -}}

                    <!-- Quotes by Topic -->
                    <!-- <div class="grid-item extra-padding">
                        <div class="card fluid bg-quotes-gradient center1">
                            <h2><a class="c-quotes-300" href="/quotes/topics">QUOTES BY TOPIC</a></h2>
                        </div>
                    </div> -->
                    {{ range where .Site.Pages "Section" "quotes" | first 10 }}
                    {{ if .IsDescendant ($.Site.GetPage "/quotes/topics") }}
                    {{ if ne .Title "Quotes By Topic" }}
                    <div class="grid-item">
                        {{ partial "card-quotes-by-topic.html" . }}
                    </div>
                    {{ end }}
                    {{ end }}
                    {{ end }}

                    <!-- Quotes By Author -->
                    <!-- <div class="grid-item extra-padding">
                        <div class="card fluid bg-quotes-gradient center1">
                            <h2><a class="c-quotes-300" href="/quotes/authors">AUTHORS</a></h2>
                        </div>
                    </div> -->
                    {{- range where .Site.Pages "Section" "quotes" -}}
                    {{- if .IsDescendant ($.Site.GetPage "/quotes/authors") -}}
                    {{- if ne .Title "Quotes By Author" -}}
                    <div class="grid-item">
                        <h3>{{- partial "card-quotes-by-author.html" . -}}</h3>
                    </div>
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}

                    <!-- Videos -->
                    <!-- <div class="grid-item extra-padding1">
                        <div class="card fluid bg-videos-gradient center1">
                            <h2><a class="c-videos-300" href="/videos">VIDEOS</a></h2>
                        </div>
                    </div> -->
                    {{- range where (where .Site.Pages "Type" "videos") ".Params.title" "!=" "Inspirational Videos" | shuffle | first 8 -}}
                    <div class="grid-item">
                        {{ partial "card-video.html" . }}
                    </div>
                    {{- end -}}

                    <!-- Motivational Quotes -->
                    <!-- <div class="grid-item extra-padding">
                        <div class="card fluid bg-quotes-gradient center1">
                            <h2><a class="c-quotes-300" href="/quotes">MOTIVATIONAL QUOTES</a></h2>
                        </div>
                    </div> -->
                    {{- range where (where .Site.Pages "Type" "videos") ".Title" "!=" "Inspirational Videos" | shuffle | first 8 -}}
                    <div class="grid-item">
                        <blockquote class="bg-quotes-500 z-depth-5">
                            <p>{{- .Params.title -}}<cite>{{- .Params.author -}}</cite></p>
                        </blockquote>
                    </div>
                    {{- end -}}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- TAGS -->
<div class="section bg-angled-dark">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="title"><a class="gradient-text" href="/tags">Top 10 Tags ></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{- $t := .Site.GetPage "/tags" -}}
                {{- range first 10 $t.Data.Terms.ByCount -}}
                <a href="{{ $.Site.BaseURL }}/tags/{{ .Page.Title }}" class="btn">{{ .Page.Title }}</a>
                {{- end -}}
            </div>
        </div>
    </div>
</div>

{{ end }}