{{ define "content" }}

<!-- VIDEOS -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-grid">
                    <!-- Random Quotes taken from the video section -->
                    {{- range .Pages -}}
                    <div class="card h6 s6 m4 l3">
                        {{ partial "card-video.html" . }}
                    </div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
