{{ define "content" }}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l9">
                <div class="card fluid bg-videos-300 z-depth-5">
                    <div class="plyr__video-embed" id="player">
                        <iframe src="https://www.youtube.com/embed/{{ .Params.videoid }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" autoplay allowfullscreen allowtransparency allow="autoplay"></iframe>
                    </div>
                    <div class="content">
                        <br>
                        <h2 class="title">"{{ .Title }}"</h2>
                        <h4 class="">- {{ .Params.author }}</h4>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                {{- if ne .Params.summary "" -}}
                    <h2 class="c-videos-100">About the Video</h2>
                    <p>{{- .Params.summary -}}</p>
                {{- end -}}
                <h2 class="c-videos-100">Related</h2>
                {{- $related := .Site.RegularPages.Related . | first 3 | shuffle -}}
                {{- with $related -}}
                {{- range . -}}
                <div class="card wide h2 fluid bg-videos-500">
                    {{- partial "card-video.html" . -}}
                </div>
                {{- end -}}
                {{- end -}}            
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l9">
                <h2 class="c-videos-100 bb-videos-gradient bw2">NEXT UP IN VIDEOS</h2>
                {{- $related := .Site.RegularPages.Related . | first 5 | shuffle -}}
                {{- with $related -}}
                {{- range . -}}
                <h4><a class="c-videos-200" href="{{ .Permalink }}">"{{ .Title }}" - {{ .Params.author }}</a></h4>
                {{- end -}}
                {{- end -}}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l9">
                <h2 class="c-videos-100 bb-videos-gradient bw2">THE LATEST</h2>
                <div class="card-grid">
                    {{- $related := .Site.RegularPages.Related . | first 8 | shuffle -}}
                    {{- with $related -}}
                    {{- range . -}}
                    <div class="card s6 m6 l3 h4 bg-videos-400">
                        {{ partial "card-video.html" . }}
                    </div>
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}