{{ define "content" }}

<div class="section">
    <div class="container">
        <div class="row">
            {{- range .Pages -}}
            {{- if isset .Params "image" -}}
            {{- if isset .Params "title" -}}
            <div class="col s6 m6 l3">
                <div class="card font-3 article h6 img-50 bg-articles-500">
                    {{ partial "card-article.html" . }}
                </div>
            </div>
            {{- end -}}
            {{- end -}}
            {{- end -}}
        </div>
    </div>
</div>

{{ end }}