{{ define "content" }}

<!-- <div class="section no-pad border-bottom">
    <div class="container">
        <div class="row">
            <div class="col s12">
                {{ if eq .Type "categories"}}
                <h2>Articles</h2>
                {{ else }}
                <h2>{{ .Type | humanize  }}</h2>
                {{ end}}
            </div>
        </div>
    </div>
</div> -->

<div class="section">
    <div class="container">
        <div class="row">

            {{ range .Pages }}
            {{ if isset .Params "image" }}
            <div class="col s6 m6 l3">
                {{ partial "card-article.html" . }}
            </div>
            {{ end }}
            {{ end }}

        </div>
    </div>
</div>

{{ end }}