{{ define "content" }}

<div class="section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col s12 l7 offset-l2">
            
                {{- range .Params.writers }}
                {{- with $.Site.GetPage "writers" (printf "writers/%s" (urlize .)) -}}
                {{ $.Scratch.Set "writername" .Params.name }}
                {{ $.Scratch.Set "writerurl" .Permalink }}
                {{ $.Scratch.Set "writerphoto" .Params.photo }}
                {{ end }}
                {{ end }}
               

                <h1 class="c-gradient">{{ .Title }}</h1>
                <h3 class="c-gradient">{{ .Params.summary }}</h3>
                
                <!-- Writer -->
                {{- if ne .Title "About GetInspired365" -}}
                <figure class="writer">
                    <img src="{{ .Scratch.Get "writerphoto" }}" alt="" />
                    <figcaption>
                        <a class="c-articles-300" href="{{ .Scratch.Get "writerurl" }}">{{ .Scratch.Get "writername" }}</a>
                        <h5 class="date">{{ .Date.Format "2 Jan 2006" }}</h5>
                        <h5 class="readingtime"><i class="fas fa-clock"></i> {{ .ReadingTime }} min(s) read </h5>
                    </figcaption>
                </figure>
                {{- end -}}


                <!-- The Article  -->
                <article>
                    {{ .Content }}
                </article>
                
            </div>
        </div>
        
        <div class="row">

            {{- if and (ne .Title "About GetInspired365") (isset .Params "writers") -}}
            <div class="col s12 l10 offset-l2">
            <h2 class="c-gradient">See Also</h2>
            </div>
            {{- with .PrevInSection -}}
                <div class="col s6 m6 l2 offset-l2">
                    <div class="card font-2 h5 img-33 bg-articles-400">
                        {{ partial "card-article.html" . }}
                    </div>
                </div>
            {{- end -}}
            {{- with .NextInSection -}}
                <div class="col s6 m6 l2">
                    <div class="card font-2 h5 img-33 bg-articles-400">
                        {{ partial "card-article.html" . }}
                    </div>
                </div>
            {{- end -}}
            {{- end -}}
        </div>

    </div>

</div>

{{ end }}