{{ define "content" }}

<div class="section border-bottom">
    <div class="container">
        <div class="row">
            
            <div class="col s12 l8">
            
                {{- range .Params.writers }}
                {{- with $.Site.GetPage "writers" (printf "writers/%s" (urlize .)) -}}
                {{ $.Scratch.Set "writername" .Params.name }}
                {{ $.Scratch.Set "writerurl" .Permalink }}
                {{ $.Scratch.Set "writerphoto" .Params.photo }}
                {{ end }}
                {{ end }}
                
                <h1 id="title">{{ .Title }}</h1>
                <h5 id="meta"> {{ .Date.Format "2 Jan 2006" }} / <i class="fas fa-clock"></i> {{ div .WordCount 200 }} min / {{ $.Scratch.Get "writername" }}</h5>

                <!-- The Article  -->
                <article id="content">
                    {{ .Content }}
                </article>
                
                <!-- Writer -->
                <figure>
                    <img src="{{ .Params.photo }}" alt="" />
                    <figcaption>
                        <a href="{{ .Scratch.Get "writerurl" }}">{{ .Scratch.Get "writername" }}</a>
                    </figcaption>
                </figure>

            </div>

        </div>
    </div>
</div>

<div class="section">
    <div class="container">

        <div class="row">
    
            <div class="col s12">
                <h3><a href="/articles">RELATED ARTICLES</a></h3>
            </div>

            {{ with .PrevInSection }}
            <div class="col s6 m6 l3">
                {{ partial "card-article.html" . }}
            </div>
            {{ end }}

            {{ with .NextInSection }}
            <div class="col s6 m6 l3">
                {{ partial "card-article.html" . }}
            </div>
            {{ end }}

        </div>

    </div>
</div>


{{ end }}